In [74]:
import pandas as pd
import re
import datetime

In [75]:
df = pd.read_csv("data.csv")
#df

# column name: location

In [76]:
df['location']=df['location'].apply(lambda x: re.sub(r"\\", "", x))# bir satirda '\\\\\\' ifadesi var onu kaldirdik
df['location'] = df['location'].apply(lambda x: str(x).upper()) # Tum harfleri buyuk harf yaptik
df['location'].value_counts()

ROTTERDAM, NL              1553
APELDOORN, NL              1142
AMSTERDAM, NL              1072
TILBURG, NL                 946
EINDHOVEN, NL               719
                           ...
EINDHIVEN, NL                 1
OOSTERHESSELEN, NL            1
FERWERD, NL                   1
WELL, NL                      1
UTRECHTSE HEUVELRUG, NL       1
Name: location, Length: 1523, dtype: int64

# Column Name: Make

In [77]:
df["make"]

0         \n,Audi ,\n
1         \n,Audi ,\n
2         \n,Audi ,\n
3         \n,Audi ,\n
4         \n,Audi ,\n
             ...
62761    \n,Volvo ,\n
62762    \n,Volvo ,\n
62763    \n,Volvo ,\n
62764    \n,Volvo ,\n
62765    \n,Volvo ,\n
Name: make, Length: 62766, dtype: object

In [78]:
df["make"]=df["make"].str.strip(',\n\r')
df["make"].value_counts()

BMW               6942
Volkswagen        6436
Mercedes-Benz     5860
Audi              5675
Volvo             4734
Renault           4255
Ford              4036
Peugeot           3492
Toyota            2783
Skoda             2588
Kia               2502
Opel              2342
Hyundai           2271
Mazda             2161
Citroen           2146
Fiat              1923
Honda              948
Dacia              829
Chevrolet          427
Tesla              416
Name: make, dtype: int64

# Column Name: model

In [79]:
df["model"]

0         \n,A3,\n
1         \n,A3,\n
2         \n,A1,\n
3         \n,A1,\n
4         \n,A3,\n
           ...
62761    \n,S60,\n
62762    \n,S60,\n
62763    \n,S60,\n
62764    \n,S40,\n
62765    \n,S60,\n
Name: model, Length: 62766, dtype: object

In [100]:
df["model"] = df["model"].str.rstrip(" [',] \s\S\t\r\n ' ")
df["model"] = df["model"].str.lstrip(" [',] \s\S\t\r\n ' ")
df["model"]=df["model"].str.strip(',\n\r')
df["model"] = df["model"].str.replace("\\n","").str.replace("Noe", "")
df["model"] = df["model"].str.replace("n'","").str.replace("n", "")
df['model'] = df['model'].str.replace("n'", "").str.replace("None", "").str.replace("\\n", "")

#df["model"].value_counts()
df["model"].unique()
#8 bos veri var

/Users/kenanesmek/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/Users/kenanesmek/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

array(['A3', 'A1', 'A5', 'A7', '5', 'RS3', '3', 'RS7', 'A2', 'TT', 'A4',
       '4', 'Cabriolet', 'R8', 'RS4', 'RS5', 'TT R', 'Q5', 'Q3', 'Q2',
       'Q7', 'Allroad', 'A4 allroad', 'RS Q8', 'Q8', 'A6', 'A6 allroad',
       '6', 'RS6', 'V8', '8', 'A8', '1', 'Other', '7', 'e-tro GT',
       'e-tro', 'Q4 e-tro', '316', '320', '116', '120', '140', '118',
       '135', '535', '328', '420', '418', '330', '550', '430', '435',
       '335', '318', '440', '340', '130', '114', '325', '125', '218',
       'M3', '640', '220', '323', 'Z4', '428', '228', '645', '650', '235',
       '630', 'Z3', 'M6', 'M4', '240', 'Z8', 'Z4 M', 'Z3 M', '230', '123',
       'i8', 'M2', 'X3', 'X1', 'X5', 'X6', 'X2', 'X7 M', 'X6 M', 'X4 M',
       'X3 M', 'X5 M', 'X4', 'X2 M', '523', '520', '525', '530', '540',
       '528', '545', 'M5', '740', '750', '730', '745', '735', '760',
       'M850', '840', '728', '225', '216', '214', 'X7', '620', '425',
       '518', 'i3', 'i4', 'iX3', 'iX', 'Active Hybrid X6',
       'Active Hybrid 5', 'Fiesta', 'Focu', 'Puma', 'Modeo', 'EcoSport',
       'Fusio', 'Ka/Ka+', 'portka', 'Mustag', 'Focus CC', 'treetka',
       'Cougar', 'GT', 'Explorer', 'Kuga', 'F 150', 'Broco', 'Edge',
       'Maverick', 'C-Max', 'Focus C-Max', 'Grad C-Max', 'Tauru',
       'Thuderbird', 'Toureo Courier', 'Trasit', 'Galaxy', 'Widstar',
       '-Max', 'B-Max', 'Flex', 'Toureo Coect', 'Trasit Coect',
       'Trasit Courier', 'F 250', 'Rager', 'Trasit Custom', 'Toureo', '',
       'Trasit Bu', 'Toureo Custom', 'F 350', 'Mustag Mach-E', 'A 180',
       'A 220', 'A 45 AMG', 'A 35 AMG', 'A 160', 'A 200', 'A 250',
       'GLA 45 AMG', 'GLA 180', 'GLA 200', 'CLA 250', '180', 'B 180',
       'B 200', 'C 280', 'A 140', 'GLA 250', 'AMG GT', 'A 150', 'CLC',
       'A 170', 'CLK 320', 'E 200', 'LK 200', 'LK 230', 'CLK 240',
       'LK 250', 'CLK 200', 'L 500', 'L 350', 'LK 350', 'E 250', 'LK 280',
       'LK 300', 'CLK 500', 'LK 320', 'E 350', 'CLK 280', 'CLK', 'LK',
       'CLK 230', 'C 43 AMG', 'C 63 AMG', 'E 300', 'C 180', 'L 55 AMG',
       'C 300', 'C 200', 'LC 180', '200', 'L 600', 'E 500', 'LC 200',
       'C 250', 'LK 55 AMG', 'LK 32 AMG', 'CLK 350', 'CLK 55 AMG', '560',
       'C 320', 'C 230', 'CLA 180', 'C 350', 'CLK 430', 'CLA 45 AMG',
       'CL 600', '500', 'E 400', 'GLC 43 AMG', 'GLC 250', 'C 400', '380',
       'CL 500', 'CLA 200', 'CL 63 AMG', 'CL 55 AMG', 'CLA 220',
       'CLS 350', 'CL 65 AMG', 'C 160', 'CLS 320', 'C 220', 'ML 55 AMG',
       'GLK 250', 'ML 500', 'ML 350', 'GLK 280', 'GLK 350', 'GL 500',
       'GLK 300', 'R 350', 'R 500', 'GL 450', 'ML 430', 'ML 320',
       'GL 63 AMG', 'GLE 43 AMG', 'GLC 200', 'GLB 180', 'GLC 63 AMG',
       'GLC 300', 'ML 63 AMG', 'G 63 AMG', 'GLE 63 AMG', 'GLE 53 AMG',
       'GLS 63 AMG', 'GLE 450', 'GLA 35 AMG', 'G 500', 'ML 400', 'G',
       'GLA 220', 'GLB 200', 'C 240', 'E 240', 'C 55 AMG', 'B 250',
       'E 55 AMG', 'E 280', 'C 32 AMG', 'E 230', 'E 320', 'E 430',
       'C 450', 'E 63 AMG', 'CLS 500', 'E 43 AMG', 'B 170', 'B 160',
       'A 190', '350', '600', '63 AMG', '55 AMG', 'CLS 55 AMG', '450',
       'CLS 63 AMG', 'E 53 AMG', 'CLA 35 AMG', 'Cita', 'B 220', '400',
       'B 150', 'A 210', 'Vito', 'priter', '416', 'E 220', 'GLE 350',
       'CLK 270', 'GLE 300', 'G 400', 'ML 250', 'R 280', 'ML 270',
       'GLK 200', 'GLC 220', 'GLS 350', 'GLE 400', 'G 350', 'GLE 250',
       'GLC 350', 'X 350', 'X 250', 'ML 280', 'GL 350', 'GL 420',
       'ML 300', 'GL 320', 'GLK 320', 'GLK 220', 'ML 450', 'R 300',
       'R 320', 'GLS 400', 'V 250', 'E 270', 'CLS 250', 'C 270', 'CE 220',
       'CLS 220', 'Viao', 'V', 'E 420', 'V 300', '300', 'V 220', 'EQ',
       'EQA', 'EQC 400', 'EQV 300', '250', 'GLE 500', 'CLS 450', 'Corsa',
       'igum', 'Agila', 'Astra', 'Karl', 'Isigia', 'Adam', 'Crosslad X',
       'Zafira Tourer', 'Vectra', 'Cascada', 'Tigra', 'peedster',
       'Gradlad X', 'Mokka', 'Atara', 'Mokka X', 'Crosslad', 'Meriva',
       'Zafira', 'Vivaro', 'Movao', 'Combo', 'itra', 'Ampera', 'Corsa-e',
       'Mokka-E', 'Zafira Life', 'Beetle', 'Golf', 'Polo', 'up!',
       'Golf GTI', 'Golf Plu', 'Arteo', 'New Beetle', 'Golf Sportsva',
       'Polo Cro', 'Polo GTI', 'Lupo', 'Golf Cabriolet', 'T-Roc', 'Eo',
       'cirocco', 'CC', 'Passat CC', 'Passat', 'Tigua', 'T-Cro',
       'Touareg', 'T5 Trasporter', 'Passat Variat', 'Golf Variat',
       'Toura', 'hara', 'Caddy', 'Jetta', 'Phaeto', 'Bora', 'T5 Multiva',
       'Trasporter', 'Fox', 'Routa', 'T6 Trasporter', 'Amarok', 'Crafter',
       'T5 Califoria', 'T6 Califoria', 'T5 Caravelle', 'T6.1 Multiva',
       'T6 Multiva', 'T6 Caravelle', 'T6 Kombi', 'T5', 'LT', 'e-up!',
       'e-Golf', 'ID.3', 'ID.4', 'Golf GTE', 'Megae', 'Lagua', 'Vel Sati',
       'Captur', 'Clio', 'ceic', 'Twigo', 'Espace', 'Kagoo', 'Avatime',
       'Wid', 'Kadjar', 'Arkaa', 'Koleo', 'Talisma', 'Grad Sceic', 'Modu',
       'Grad Espace', 'Grad Modu', 'Alaska', 'Master', 'Trafic', 'ZOE',
       'Twizy', 'Kagoo Z.E.', 'XM', 'C3', 'C2', 'C1', 'C4 Cactu', 'DS5',
       'C4', 'DS4', 'DS3', 'C5', 'Xatia', 'D', 'AXO', 'Xsara',
       'C-Crosser', 'C3 Aircro', 'C5 Aircro', 'C4 Aircro', 'C4 Picasso',
       'Berligo', 'Grad C4 Picasso', 'C6', 'C-Elysée', 'pacetourer', 'C8',
       'C3 Picasso', 'Grad C4 SpaceTourer', 'C4 SpaceTourer',
       'Xsara Picasso', 'Nemo', 'Jumpy', 'Jumper', 'C-Zero', 'Aveo',
       'park', 'Cruze', 'Volt', 'Matiz', 'Kalo', 'Lacetti', 'Corvette',
       'Camaro', 'R', 'ilverado', 'Avalache', 'uburba', 'Trailblazer',
       'Captiva', 'Trax', 'Nubira', 'HHR', 'Orlado', 'Epica', 'Evada',
       'Chevy Va', 'Expre', 'Tacuma', 'Tras Sport', 'adero', 'Duster',
       'Lodgy', 'Loga', 'Dokker', 'prig', 'Grade Puto', '500C',
       '500C Abarth', '500 Abarth', 'Tipo', 'Pada', 'Puto Evo', 'Bravo',
       'tilo', 'Croma', 'Puto', 'eiceto', 'Ciqueceto', '124 Spider',
       'Coupe', '500X', 'Fullback', 'trada', 'Doblo', 'Qubo', 'Fiorio',
       '500L', 'edici', 'cudo', 'Idea', 'Multipla', 'Ducato', 'Taleto',
       '500e', 'Civic', 'Jazz', 'Isight', 'HR-V', 'CR-Z', '2000', 'NSX',
       'Accord', 'Itegra', 'CR-V', 'FR-V', 'Leged', 'tream', 'e', 'i30',
       'i10', 'i20', 'iX20', 'Veloster', 'Accet', 'Getz', 'Ato',
       'Geesis Coupe', 'Tucso', 'Koa', 'Bayo', 'ata Fe', 'iX35',
       'Terraca', 'i40', 'oata', 'Elatra', 'Gradeur', 'Ioiq', 'H 200',
       'Matrix', 'Trajet', 'Nexo', 'H 300', 'Ioiq 5', 'Koa Elektro',
       'Picato', 'Rio', "Ceed / cee'd", 'portage', 'tiger', 'XCeed',
       "ProCeed / pro_cee'd", 'Vega', 'Cerato', 'oreto', 'toic', 'Care',
       "Ceed SW / cee'd SW", 'Optima', 'Mageti', 'Niro', 'Carival', 'EV6',
       'oul', 'e-Niro', '2', 'CX-3', '626', 'MX-5', 'MX-3', 'RX-8',
       'CX-5', 'CX-30', 'CX-9', 'CX-7', 'Demio', 'Premacy', 'Tribute',
       'Xedo', 'MPV', 'MX-30', '307', '207', '1007', '108', '308', '208',
       '508', '2008', '107', '206', '106', '306', 'RCZ', '406', '407',
       '3008', '4007', '5008', '607', 'Rifter', 'Bipper', 'Parter', '807',
       'Expert', 'Boxer', 'Traveller', 'iO', 'uperb', 'Fabia',
       'Rapid/Spaceback', 'Octavia', 'cala', 'Kamiq', 'Citigo', 'Yeti',
       'Karoq', 'Kodiaq', 'Felicia', 'Eyaq', 'Roomster', 'Yari', 'Aygo',
       'Auri', 'iQ', 'Priu', 'Corolla', 'Avesi', 'Urba Cruiser', 'Verso-',
       'MR 2', 'upra', 'GT86', 'Celica', 'Paseo', 'RAV 4', 'Tudra',
       'Lad Cruiser', 'C-HR', 'Yaris Cro', 'Tacoma', 'FJ Cruiser',
       '4-Ruer', 'Highlader', 'iea', 'Verso', 'Corolla Verso',
       'Avesis Verso', 'Crow', 'Aristo', 'Camry', 'Mirai', 'Prius+',
       'Proace', 'Previa', 'Hilux', 'Hiace', 'Dya', 'Model', 'Model 3',
       'Model X', 'Model Y', 'V40', 'V40 Cross Coutry', 'C30', '80',
       'XC40', 'C70', 'XC60', 'XC70', 'XC90', 'V60 Cross Coutry', 'V60',
       'V70', 'V90 Cross Coutry', 'V50', 'V90', '40', '60', '90', '70',
       '60 Cross Coutry', 'C40'], dtype=object)

# column name: short_description

In [81]:
df['short_description']= df['short_description'].str.strip("\n,")
df['short_description'].value_counts()

1.4 TSI Highline                                      58
i                                                     51
i High Executive                                      45
i Executive                                           41
High Executive                                        36
                                                      ..
109 CDI | XL | Navigatie | Dubbele schuifdeur | De     1
110 CDI kort / rijklaar € 9450 ex btw / lease vana     1
210 2.2 CDI 366 HD L2 H2                               1
113 CDI 320 Lang Standaard / Airco / 3 Zits / Trek     1
2.4 Airco, Cruise Control, Stuurbekrachtiging          1
Name: short_description, Length: 54363, dtype: int64

# Column name: price

In [82]:
df['price'] = df['price'].apply(lambda x: '€ ' + re.sub(r'[^\d.,]+', '', x).replace(',', '.').replace('.', '', 1).rstrip('.'))
df['price'] = df['price'].str.replace('€', '')
pd.to_numeric(df['price'], errors='coerce').value_counts()
# birim isaretleri kalkarsa rahatlikla mean median kullanabiliriz.

9.950     529
8.950     455
6.950     435
5.950     426
14.950    415
         ...
28.600      1
28.574      1
16.244      1
15.644      1
9.100       1
Name: price, Length: 8174, dtype: int64

# Column Name : mileage

In [83]:
mileage_1 = []
for i in df['mileage']:
    result = re.search(r'\d{1,3}(?:,\d{3})*', i)
    if result:
        mileage_1.append(result.group(0))
    else:
        mileage_1.append(None)

mileage_son = pd.DataFrame(mileage_1,columns=["mileage"])

df["mileage"] = mileage_son["mileage"]

In [84]:
df.rename(columns = {'mileage':'mileage(km)'}, inplace = True)  # in place of every line, we write 'km' to column name as unit 
df["mileage(km)"].value_counts()

10         1371
1          1032
5           728
15          678
12          154
           ...
133,032       1
171,549       1
118,479       1
138,065       1
404,758       1
Name: mileage(km), Length: 45615, dtype: int64

# colum name : gearbox  #Gearbox sütunu ile karşılaştırıldı

In [85]:
df['gearbox'] = df['gearbox'].str.replace(r'[\d,]+', '', regex=True).str.strip()
df['gearbox'].value_counts()

# buyuk harfle yazilan daha iyi bir sutun

Automatic           36633
Manual              25430
Semi-automatic        611
['\n' None '\n']       85
/                       7
Name: gearbox, dtype: int64

# Gearbox sütunu ile karşılaştırıldı

In [86]:

df['Gearbox'] = df['Gearbox'].str.strip("\n,")
df['gearbox'] = df['gearbox'].fillna("None")
df.loc[(df['gearbox'] != 'None'), ['gearbox', 'Gearbox']]

         gearbox    Gearbox
0      Automatic  Automatic
1      Automatic  Automatic
2      Automatic  Automatic
3      Automatic  Automatic
4      Automatic  Automatic
...          ...        ...
62761     Manual     Manual
62762     Manual     Manual
62763     Manual     Manual
62764     Manual     Manual
62765     Manual     Manual

[62766 rows x 2 columns]

# colum name : registration

In [87]:
df['registration'].value_counts()

01/2021    2883
01/2022    1284
12/2016     719
03/2021     719
12/2020     636
           ...
05/1997       1
02/1981       1
05/1995       1
07/2028       1
10/1996       1
Name: registration, Length: 302, dtype: int64

# Column name : fuel_type  #Fuel_type sütunu ile karşılaşırıldı

In [88]:
df['fuel_type'] = df['fuel_type'].str.strip("\n\r,")
df['Fuel_type'] = df['Fuel_type'].str.strip("\n\r,")
df['fuel_type'] = df['fuel_type'].fillna("None")
df.loc[(df['fuel_type'] != 'None'), ['fuel_type', 'Fuel_type']]
df['fuel_type'].value_counts() # Icinde gearbox ile lgili bilgiler de var. Kayit ederken kaydirma yapilmis olabilir
# fuel_type i secmek digerini silmek mantkli olabilir

Gasoline             36942
Diesel               11754
Electric/Gasoline     8179
Electric              4906
LPG                    547
Electric/Diesel        254
CNG                     98
Hydrogen                62
Ethanol                  9
Others                   7
Automatic                5
Manual                   3
Name: fuel_type, dtype: int64

# Column name : power     #Power sütunu ile karşılaştırıldı

In [89]:
df['power'] = df['power'].str.strip("\n\r,")
df['Power'] = df['Power'].str.strip("\n\r,")
df['power'] = df['power'].fillna("None")
df.loc[(df['power'] != 'None'), ['power', 'Power']]
# Integere cevirmek icin birimleri kolona alabiliriz. hp zaten kW ye bagli bi deger oldugu icin o kismi rahatlikla silebiliriz
df['Power'].value_counts() # Buyuk harfle olani almak daha mantikl olabilir
df['Power'] = df['Power'].str.extract(r'(\d+)')
df['Power'] # sutun ismini tum analizleri yaptiktan sonra degstiririz.

0        110
1         92
2         92
3         92
4        110
        ...
62761    125
62762    103
62763    132
62764    103
62765    104
Name: Power, Length: 62766, dtype: object

# Column Name : seller

In [90]:
df['seller'] = df['seller'].str.lstrip("[', [' \s\S\t n ")
df['seller'] = df['seller'].str.rstrip("[', [] ' \s\S\t n")  


#seller has three not related unique values(electric, diesel , Gasoline) 
#bunlar diger sutunlara ait olabilir
df["seller"].replace("Diesel", None, inplace = True) 
df["seller"].replace("Electric", None, inplace = True) 
df["seller"].replace("Gasoline", None, inplace = True) 
df["seller"].unique()

array(['Dealer', 'Private seller'], dtype=object)

# Column name: body_type

In [91]:
df['body_type'] = df['body_type'].str.replace(',', '').str.strip()
df['body_type'].value_counts() # 948 none deger

Off-Road/Pick-up    17348
Compact             13185
Station wagon       11318
Van                  6243
Sedan                5341
Convertible          3645
Transporter          2249
Coupe                1923
None                  948
Other                 562
Panel van               2
Car transport           1
Flatbed van             1
Name: body_type, dtype: int64

# Column name: type

In [92]:
df['type'] = df['type'].str.replace(',', '').str.strip()
df['type'].value_counts()# 948 none values

Used              55523
New                3413
Demonstration      1889
Pre-registered      993
None                948
Name: type, dtype: int64

# Column name: drivetrain

In [93]:
df['drivetrain'] = df['drivetrain'].str.replace(',', '').str.strip()
df['drivetrain'].value_counts() # cekis demek , 14594 none var

Front    33522
None     14594
4WD       7363
Rear      7287
Name: drivetrain, dtype: int64

# Column Name: seats

In [94]:
df["seats"]

0        \n5
1        \n5
2        \n5
3        \n4
4        \n5
        ...
62761    \n5
62762    \n5
62763    \n5
62764    \n5
62765    \n5
Name: seats, Length: 62766, dtype: object

In [95]:
df["seats"]=df["seats"].str.strip(',\n')

In [96]:
df["seats"].replace("None", "0", inplace = True) #None values may stay as None. There are no car without seat

In [97]:
df["seats"]=df["seats"].astype(int)

df["seats"].value_counts()

5     46671
4      6057
0      4925
2      1995
7      1846
3       899
6       257
8        57
9        56
1         2
14        1
Name: seats, dtype: int64

# Column Name: doors

In [98]:
df["doors"].unique()

array(['\n3', '\n5', '\n4', 'None\n', '\n2', '\n6', '\n1'], dtype=object)

In [99]:

df["doors"]=df["doors"].str.strip(',\n')
#df["doors"].replace("None", "0", inplace = True) #None values may stay as None. There are no car without door
#df["doors"]=df["doors"].astype(int)
df["doors"].unique()

array(['3', '5', '4', 'None', '2', '6', '1'], dtype=object)

# Column Name: country_version

In [28]:
df['country_version'] = df['country_version'].str.split(',').str[-1].str.strip()
df['country_version'].value_counts()
# 54824 none values var

None                    54824
Netherlands              6835
Germany                   772
Belgium                   106
Sweden                     50
Denmark                    36
France                     21
Czechia                    19
Spain                      16
Switzerland                14
Italy                      13
United States              13
Poland                     12
Austria                     9
Luxembourg                  6
Slovenia                    5
United Kingdom              2
Hungary                     2
Japan                       2
Canada                      2
Romania                     1
Slovakia                    1
Estonia                     1
Namibia                     1
Lithuania                   1
Latvia                      1
United Arab Emirates        1
Name: country_version, dtype: int64

# Column name : offer_number #formatını mentöre soralım

In [29]:
df["offer_number"]= df["offer_number"].str.strip(',\n')
df["offer_number"].value_counts()

None        9928
NIEUW         53
XX            28
.             17
1776          13
            ...
#38416         1
#38787         1
#38418         1
#37783         1
26-HN-LS       1
Name: offer_number, Length: 50143, dtype: int64

# Column name : warranty

In [30]:
df['warranty'] = df['warranty'].str.replace(',', '').str.strip()
df['warranty']

0        6 months
1            None
2        6 months
3        6 months
4        6 months
           ...
62761        None
62762        None
62763        None
62764        None
62765        None
Name: warranty, Length: 62766, dtype: object

# Column name : Mileage    #Data içinde 2 adet Mileage sütunu mevcut ve bu sütunda bilgi olmadığından drop yapılacak

In [31]:
df['Mileage'].unique()

array(["[['\\n'], ['']]", "[['\\n'], ['None']]"], dtype=object)

# Column name: first_registration

In [32]:
df['first_registration'].head()

0    08/2003
1    10/2013
2    06/2015
3    10/2015
4    10/2017
Name: first_registration, dtype: object

# Column Name : production_date  ve registration değerleri birbiri ile uyumlu

In [33]:
# df['production_date'] = pd.to_datetime(df['production_date'], format='%Y')

#Producton_date ve registration arasinda bag var. Yillar ayni. Burdan doldurabiliriz
df['production_date'] = df['production_date'].fillna("None")
df.loc[(df['production_date'] != 'None'), ['production_date', 'registration']]

      production_date registration
2                2015      06/2015
7                2011      07/2011
8                2012      08/2012
14               2012      05/2012
26               2013      07/2013
...               ...          ...
62696            2007      03/2007
62708            2010      09/2010
62714            2007      07/2007
62719            2005      02/2005
62728            2010      12/2010

[6556 rows x 2 columns]

# Column Name : general_inspection #bu veride ne yapılacak

In [34]:
df["general_inspection"].value_counts()

New        15532
None       15038
06/2022     2169
03/2022     2025
07/2022     1936
           ...
11/2014        1
09/2017        1
08/2018        1
06/2019        1
12/2019        1
Name: general_inspection, Length: 94, dtype: int64

# Column Name : last_service               #column içerisinde sadece nan değeri var

In [35]:
df['last_service'].unique()

array(['None'], dtype=object)

# Column Name: full_service_history

In [36]:
df['full_service_history'] = df['full_service_history'].str.replace(',', '').str.strip()
df['full_service_history']

0         Yes
1         Yes
2         Yes
3         Yes
4         Yes
         ...
62761     Yes
62762     Yes
62763     Yes
62764    None
62765    None
Name: full_service_history, Length: 62766, dtype: object

# Column Name : non_smoker_vehicle

In [37]:
df['non_smoker_vehicle'] = df['non_smoker_vehicle'].str.replace(',', '').str.strip()
df['non_smoker_vehicle']

0        None
1        None
2         Yes
3        None
4        None
         ...
62761    None
62762    None
62763    None
62764    None
62765    None
Name: non_smoker_vehicle, Length: 62766, dtype: object

# Column Name : previous_owner

In [38]:
df['previous_owner'] = df['previous_owner'].str.lstrip("[' \s\S\t n ',]")
df['previous_owner'] = df['previous_owner'].str.rstrip("['\s,]")
df['previous_owner'].unique()

array(['None', '3', '2', '1', '5', '7', '9', '4', '6', '8', '12', '10'],
      dtype=object)

# Column Name : last_timing_belt_change

In [39]:
df['last_timing_belt_change'] = df['last_timing_belt_change'].str.lstrip(" [',] '\a \s\S\t\r n ' ")
df['last_timing_belt_change'] = df['last_timing_belt_change'].str.rstrip(" [',] '\a \s\S\t\r n ' ")

df['last_timing_belt_change'].unique()

array(['None', '07/2021', '03/2021', '05/2019', '06/2021', '10/2019',
       '02/2018', '06/2020', '06/2017', '03/2019', '08/2019', '04/2019',
       '04/2021', '10/2020', '11/2021', '07/2018', '12/2018', '11/2019',
       '04/2016', '05/2021', '08/2018', '10/2021', '01/2021', '07/2017',
       '07/2019', '04/2020', '12/2021', '09/2017', '09/2021', '01/2020',
       '09/2020', '03/2020', '08/2021', '05/2016', '01/2015', '01/2017',
       '04/2018', '01/2016', '09/2015', '12/2019', '07/2020', '12/2020',
       '08/2020', '05/2020', '07/2011', '02/2020', '10/2017', '06/2019',
       '09/2019', '10/2016', '11/2018', '10/2018', '08/2017', '01/2019',
       '11/2015', '02/2021', '02/2019', '11/2020', '05/2017', '05/2018',
       '01/2018', '03/2018', '06/2013', '11/2000', '01/1900', '09/2018',
       '02/2017', '09/2016', '12/2017', '06/2018', '05/2015', '04/2014',
       '04/2017', '11/2017', '06/2016', '12/2015', '10/2015', '02/2015',
       '02/2016', '06/2014', '04/2015', '08/2016'], dtype=object)

# Column Name : Power

In [40]:
df["power"].value_counts()

[None, '']         5333
110 kW (150 hp)    3677
88 kW (120 hp)     2518
100 kW (136 hp)    2190
90 kW (122 hp)     2174
                   ...
378 kW (514 hp)       1
282 kW (383 hp)       1
470 kW (639 hp)       1
451 kW (613 hp)       1
10 kW (14 hp)         1
Name: power, Length: 361, dtype: int64

# Column Name: gearbox   aynı sütundan var

# Column Name : engine_size

In [41]:
# kolonun ici düzenlendi, none ifade = 0 a ayarlandi.
# ancak cc biriminden dolayi int cevrilmiyor, bu yüzden de mean() vs islemlr de yapilamiyor
#??????

In [42]:
df["engine_size"]= df["engine_size"].str.strip(',\n,')
df["engine_size"]= df["engine_size"].replace("None", "0")
df["engine_size"]= df["engine_size"].str.replace("cc", "")

df["engine_size"].head()

0    1,984
1    1,395
2    1,395
3    1,395
4    1,495
Name: engine_size, dtype: object

# Column Name : gears

In [43]:
df["gears"]=df["gears"].str.strip(',\n,')
df["gears"].unique()

array(['None', '7', '6', '8', '5', '1', '9', '4', '2', '3'], dtype=object)

bi iki koda gerek var mi pek emin degilim,
Data missing de konusabiliriz!!!
df["gears"].replace("None", "0", inplace = True)
df["gears"]=df["gears"].astype(int)

# Column Name: cylinders

In [44]:
df["cylinders"]=df["cylinders"].str.strip(',\n,')
df["cylinders"].unique()
#df["cylinders"]

array(['4', '3', '6', 'None', '5', '8', '10', '12', '1', '2', '7'],
      dtype=object)

# Column Name : empty_weight

In [45]:
df["empty_weight"]=df["empty_weight"].str.strip('[\n,')
df["empty_weight"]=df["empty_weight"].str.replace(' kg', '')
df["empty_weight"].head()

0    1,280
1    1,200
2     None
3    1,105
4    1,215
Name: empty_weight, dtype: object

# Column Name: Fuel_type

In [46]:
df["Fuel_type"]=df["Fuel_type"].str.strip('[\n,')
df["Fuel_type"].head(15)

0     Super 95
1     Gasoline
2     Gasoline
3     Gasoline
4     Super 95
5     Super 95
6     Gasoline
7     Gasoline
8     Gasoline
9     Super 95
10    Gasoline
11    Super 95
12    Gasoline
13    Super 95
14    Gasoline
Name: Fuel_type, dtype: object

# Column name : fuel_consumption

In [47]:
df['fuel_consumption'] = df['fuel_consumption'].str.lstrip(" [', \s\S\t\r\n,n ' ")
df['fuel_consumption'] = df['fuel_consumption'].str.rstrip("[', '] \s\S\t\r\n,\\n  ")
df['fuel_consumption'] = df['fuel_consumption'].str.replace("'","")
df['fuel_consumption']

0                                                     None
1                                     4.9 l/100 km (comb.)
2        0 l/100 km (comb.), 0 l/100 km (city), 0 l/100...
3        4.8 l/100 km (comb.), 5.9 l/100 km (city), 4.2...
4        5 l/100 km (comb.), 6.2 l/100 km (city), 4.3 l...
                               ...
62761                                                 None
62762                                                 None
62763    9.1 l/100 km (comb.), 12.6 l/100 km (city), 7 ...
62764                                                 None
62765    8.4 l/100 km (comb.), 11.6 l/100 km (city), 6....
Name: fuel_consumption, Length: 62766, dtype: object

# Column Name: co2_emissions

In [48]:
df['co2_emissions'] = df['co2_emissions'].str.strip(",\n")
df["co2_emissions"] = df["co2_emissions"].str.rstrip(" [',] \s\S\t\r\n n' ")
df["co2_emissions"] = df["co2_emissions"].str.lstrip(" [', \s\S\t\r\n ' ")
df['co2_emissions']

0
1                    None
2                    None
3        111 g/km (comb.)
4        113 g/km (comb.)
               ...
62761
62762
62763    215 g/km (comb.)
62764                None
62765    207 g/km (comb.)
Name: co2_emissions, Length: 62766, dtype: object

# Column Name : emission_class

In [49]:
df['emission_class'] = df['emission_class'].str.strip(",\n")
df['emission_class']

0        Euro 4
1          None
2          None
3        Euro 6
4        Euro 6
          ...
62761      None
62762      None
62763    Euro 3
62764      None
62765    Euro 3
Name: emission_class, Length: 62766, dtype: object

# Column Name: emissions_sticker

In [50]:
df["emissions_sticker"].unique()

array(['\n,None,\n', '\n,4 (Green),\n', '\n,3 (Yellow),\n',
       '\n,1 (No sticker),\n', "['\\n', [' ', ' ', ' '], '\\n']",
       '\n,2 (Red),\n'], dtype=object)

In [51]:
df["emissions_sticker"] = df["emissions_sticker"].str.rstrip(" [',] \s\S\t\r\n ' ")
df["emissions_sticker"] = df["emissions_sticker"].str.lstrip(" [',] \s\S\t\r\n ' ")
df["emissions_sticker"] = df["emissions_sticker"].str.strip(" ")
df["emissions_sticker"] = df["emissions_sticker"].str.replace("\\n","")
df["emissions_sticker"].unique()

/Users/kenanesmek/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

array(['None', '4 (Green)', '3 (Yellow)', '1 (No sticker)',
       "n', [' ', ' ', ' '], '\\n", '2 (Red)'], dtype=object)

# Column Name : Comfort & Convenience

In [52]:
df.rename({"\nComfort & Convenience\n":"comfort_convenience"}, inplace = True, axis = 1) # sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["comfort_convenience"] = df["comfort_convenience"].str.rstrip(" [', \s\S\t\r n ' ")
df["comfort_convenience"] = df["comfort_convenience"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["comfort_convenience"] = df["comfort_convenience"].str.replace("'","")
df["comfort_convenience"]

0        Air conditioning, Armrest, Automatic climate c...
1        Air conditioning, Automatic climate control, E...
2        Air conditioning, Armrest, Automatic climate c...
3        Air conditioning, Armrest, Automatic climate c...
4        Air conditioning, Armrest, Electrical side mir...
                               ...
62761    Air conditioning, Armrest, Automatic climate c...
62762    Air conditioning, Automatic climate control, C...
62763    Air conditioning, Armrest, Automatic climate c...
62764    Air conditioning, Armrest, Automatic climate c...
62765    Air conditioning, Armrest, Automatic climate c...
Name: comfort_convenience, Length: 62766, dtype: object

# Column Name : Entertaiment & Media

In [53]:
df['\nEntertainment & Media\n'].unique()

array(["[['CD player', 'Radio']]",
       "[['Bluetooth', 'CD player', 'On-board computer', 'USB']]",
       "[['CD player', 'MP3', 'On-board computer', 'Radio']]", ...,
       "[['Apple CarPlay', 'CD player', 'Digital cockpit', 'On-board computer', 'Radio']]",
       "[['Apple CarPlay', 'CD player', 'On-board computer', 'Radio', 'Sound system']]",
       "[['Android Auto', 'Apple CarPlay', 'Bluetooth', 'CD player', 'Digital cockpit', 'Digital radio', 'Hands-free equipment', 'Induction charging for smartphones', 'Integrated music streaming', 'On-board computer', 'Radio', 'Sound system', 'USB']]"],
      dtype=object)

In [54]:
df.rename({"\nEntertainment & Media\n":"entertainment_media"},inplace = True, axis = 1)# sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["entertainment_media"] = df["entertainment_media"].str.rstrip(" [',] \s\S\t\r n ' ")
df["entertainment_media"] = df["entertainment_media"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["entertainment_media"] =  df["entertainment_media"].str.replace("'","")
df["entertainment_media"].unique()

array(['CD player, Radio', 'Bluetooth, CD player, On-board computer, USB',
       'CD player, MP3, On-board computer, Radio', ...,
       'Apple CarPlay, CD player, Digital cockpit, On-board computer, Radio',
       'Apple CarPlay, CD player, On-board computer, Radio, Sound system',
       'Android Auto, Apple CarPlay, Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, On-board computer, Radio, Sound system, USB'],
      dtype=object)

# Column Name : Safety & Security

In [55]:
df.rename({"\nSafety & Security\n":"safety_security"},inplace = True, axis = 1)# sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["safety_security"] = df["safety_security"].str.rstrip(" [', \s\S\t\r n ' ")
df["safety_security"] = df["safety_security"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["safety_security"] =  df["safety_security"].str.replace("'","")
df["safety_security"]

0        ABS, Alarm system, Central door lock, Central ...
1        Alarm system, Central door lock, Central door ...
2        ABS, Central door lock with remote control, Dr...
3        ABS, Alarm system, Bi-Xenon headlights, Centra...
4        ABS, Alarm system, Bi-Xenon headlights, Centra...
                               ...
62761    ABS, Central door lock, Central door lock with...
62762    ABS, Central door lock, Central door lock with...
62763    ABS, Central door lock, Central door lock with...
62764    ABS, Central door lock with remote control, Dr...
62765    ABS, Alarm system, Central door lock, Central ...
Name: safety_security, Length: 62766, dtype: object

# Column Name : extras

In [56]:
df["extras"] = df["extras"].str.rstrip(" [',] \s\S\t\r n ' ")
df["extras"] = df["extras"].str.lstrip(" [',] '\a \s\S\t\r n ' ")
df["extras"] =  df["extras"].str.replace("'","")
df["extras"]

0                                              Alloy wheel
1                                       Alloy wheels (16")
2                                       Alloy wheels (15")
3        Alloy wheels (17"), Shift paddles, Sport seats...
4         Alloy wheels (17"), Sport seats, Sport suspensio
                               ...
62761                                   Alloy wheels (15")
62762                                   Alloy wheels (15")
62763    Alloy wheels (17"), Automatically dimming inte...
62764    Alloy wheels (16"), Automatically dimming inte...
62765                                          Alloy wheel
Name: extras, Length: 62766, dtype: object

# Column Name: manifacturer_colour    içeriği tamamen nan değeriyle dolu

In [57]:
df['\nmanufacturer_color'].unique()

array(['None'], dtype=object)

# Column Name: colour

In [58]:
df.rename(columns = {'\ncolour':'colour'}, inplace = True)
df["colour"].unique()

array(['\n4, Grey', '\n4, White', '\n4, Black', '\n4, Red', '\n4, Silver',
       '\n4, Brown', '\n4, Blue', '\n4, Violet', 'None', '\n4, Beige',
       '\n4, Yellow', '\n4, Green', '\n4, Orange', '\n4, Bronze',
       '\n4, Gold'], dtype=object)

In [59]:
df["colour"]=df["colour"].str.strip(',\n4,')
df["colour"].head()
#1048 none var

0      Grey
1     White
2      Grey
3     Black
4      Grey
Name: colour, dtype: object

# Column Name : paint   (arabanın boyanıp boyanmadığını ifade ediyor. Renk belirtilenler boyanmış belirtilmeyenler boyanmamış. Bundan dolayı rengin yanındaki paint ifadesini gözardı edebiliriz.)

In [60]:
df.rename(columns = {'\npaint':'paint'}, inplace = True)
df["paint"].unique()
df['paint']

0        \npaint, Metallic
1                     None
2        \npaint, Metallic
3                     None
4        \npaint, Metallic
               ...
62761                 None
62762                 None
62763    \npaint, Metallic
62764    \npaint, Metallic
62765    \npaint, Metallic
Name: paint, Length: 62766, dtype: object

In [61]:
df["paint"]=df["paint"].str.replace('\npaint,','')
df['paint']

0         Metallic
1             None
2         Metallic
3             None
4         Metallic
           ...
62761         None
62762         None
62763     Metallic
62764     Metallic
62765     Metallic
Name: paint, Length: 62766, dtype: object

# Column Name : upholstery_colour

In [62]:
df[' upholstery_colour '].unique()

array(['\nupholstery, Black', 'None', '\nupholstery, Grey',
       '\nupholstery, Brown', '\nupholstery, Other',
       '\nupholstery, Beige', '\nupholstery, Red', '\nupholstery, Yellow',
       '\nupholstery, Blue', '\nupholstery, White', '\nupholstery, Green',
       '\nupholstery, Orange'], dtype=object)

In [63]:
df.rename(columns={' upholstery_colour ':'upholstery_colour'},inplace = True)
df["upholstery_colour"]=df["upholstery_colour"].str.replace('\nupholstery,','')
df["upholstery_colour"].unique()

array([' Black', 'None', ' Grey', ' Brown', ' Other', ' Beige', ' Red',
       ' Yellow', ' Blue', ' White', ' Green', ' Orange'], dtype=object)

# Column Name : upholstery

In [64]:
df[" upholstery "].unique()

array(['\n8, Cloth', 'None', '\n8, Part leather', '\n8, Full leather',
       '\n8, alcantara', '\n8, Other', '\n8, Velour'], dtype=object)

In [65]:
df.rename(columns={' upholstery ':'upholstery'},inplace = True)
df["upholstery"]=df["upholstery"].str.replace('\n8,','')
df["upholstery"].unique()

array([' Cloth', 'None', ' Part leather', ' Full leather', ' alcantara',
       ' Other', ' Velour'], dtype=object)