In [6]:
import pandas as pd
import re
import datetime
import seaborn as sns
from sklearn import preprocessing
from numpy import nan
import numpy as np

In [7]:
df = pd.read_csv("data.csv")
#df

In [8]:
df.describe()

         Unnamed: 0
count  62766.000000
mean   35563.827709
std    20562.958458
min        0.000000
25%    17718.250000
50%    35595.500000
75%    53391.750000
max    71103.000000

# 2 column name: location  
 köy ve şehir isimlerinde işaret ile başlayan isimler için if döngüsü oluşturulacak.

In [9]:
# location sütunundaki tüm verileri büyük harfe çevirelim
df['location'] = df['location'].str.upper()

# NL öncesindeki kelimelerden noktalama ve sayısal değerleri silelim
df['location'] = df['location'].apply(lambda x: re.sub(r'[^\w\s]*\d*', '', x.split(',')[0]) + ',NL')
df['location'] = df['location'].apply(lambda x: re.sub(r"\bSGRAVEV", r"'S-GRAVE", x))

# şehir ismi olmayanları Hollandada en fazla araç satışının yapıldığı bölgeye ekledim.(4 satır) 
df.loc[df['location'] == ',NL', 'location'] = 'AMSTERDAM ZUIDOOST,NL'

#Özel yazım şekli isteyen bazı şehirleri değiştirelim.
a = ['GRAVENHAGE', 'HERTOGENBOSCH', 'GRAVENZANDE', 'HEER ARENDSKERKE', 'GRAVENPOLDER', 'GRAVENDEEL', 'GRAVENLAND', 'HEERENBERG', 'HARDE','T ZAND', 'GOY', 'BERGEN','AMSTERDAMZUIDOOST' ]
b = ["'S-GRAVENHAGE, NL", "'S-HERTOGENBOSCH, NL", "'S-GRAVENZANDE, NL", "'S-HEER ARENDSKERKE, NL", "'S-GRAVENPOLDER, NL", "'S-GRAVENDEEL, NL", "'S-GRAVENLAND, NL", "'S-HEERENBERG, NL", "'T-HARDE, NL", "'T-ZAND, NL", "'T-GOY, NL","BERGEN, NL",'AMSTERDAM ZUIDOOST,NL' ]

for i, row in df.iterrows():
    location = row["location"]
    for word in a:
        if word in location:
            index = a.index(word)
            location = b[index]
            break
    df.at[i, "location"] = location

df.to_csv('data.csv', index=False)
df.head(5)

,Unnamed: 0,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,...,emissions_sticker,\nComfort & Convenience\n,\nEntertainment & Media\n,\nSafety & Security\n,extras,\ncolour,\nmanufacturer_color,\npaint,upholstery_colour,upholstery
0,0,"LOON OP ZAND,NL","\n,Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'Radio']]","[['ABS', 'Alarm system', 'Central door lock', ...",[['Alloy wheels']],"\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"
1,1,"HEERLEN,NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Automatic climate contr...","[['CD player', 'Radio']]","[['Alarm system', 'Central door lock', 'Centra...","[['Alloy wheels (16"")']]","\n4, White",None,None,"\nupholstery, Black","\n8, Cloth"
2,3,"BAARLENASSAU,NL","\n,Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['Bluetooth', 'CD player', 'On-board computer...","[['ABS', 'Central door lock with remote contro...","[['Alloy wheels (15"")']]","\n4, Grey",None,"\npaint, Metallic",None,None
3,4,"ZUTPHEN,NL","\n,Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'MP3', 'On-board computer', 'Ra...","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Shift paddles', 'Spor...","\n4, Black",None,None,"\nupholstery, Black","\n8, Part leather"
4,7,"BERGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Electrical s...","[['CD player', 'On-board computer', 'Radio']]","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Sport seats', 'Sport ...","\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"

# 3 Column Name: Make

In [10]:
df["make"]

0         \n,Audi ,\n
1         \n,Audi ,\n
2         \n,Audi ,\n
3         \n,Audi ,\n
4         \n,Audi ,\n
             ...
62761    \n,Volvo ,\n
62762    \n,Volvo ,\n
62763    \n,Volvo ,\n
62764    \n,Volvo ,\n
62765    \n,Volvo ,\n
Name: make, Length: 62766, dtype: object

In [11]:
df["make"]=df["make"].str.strip(',\n\r')
df['make'].head()

0    Audi
1    Audi
2    Audi
3    Audi
4    Audi
Name: make, dtype: object

# 4 Column Name: model

!! sütun hala temiz degil,,

In [12]:
df["model"]

0         \n,A3,\n
1         \n,A3,\n
2         \n,A1,\n
3         \n,A1,\n
4         \n,A3,\n
           ...
62761    \n,S60,\n
62762    \n,S60,\n
62763    \n,S60,\n
62764    \n,S40,\n
62765    \n,S60,\n
Name: model, Length: 62766, dtype: object

In [13]:
df["model"]=df["model"].str.strip(',\n\r')
df["model"].head()

0    A3
1    A3
2    A1
3    A1
4    A3
Name: model, dtype: object

# 5 column name: short_description   
bu sütundaki değerler database kaydında hatırlatma için oluştuurlmuş değerler olabilir. Bundan dolayı gözardı edilebilir (şahsi fikrim :)

In [14]:
df['short_description']= df['short_description'].str.strip("\n,")
df['short_description'].value_counts()

1.4 TSI Highline                                      58
i                                                     51
i High Executive                                      45
i Executive                                           41
High Executive                                        36
                                                      ..
109 CDI | XL | Navigatie | Dubbele schuifdeur | De     1
110 CDI kort / rijklaar € 9450 ex btw / lease vana     1
210 2.2 CDI 366 HD L2 H2                               1
113 CDI 320 Lang Standaard / Airco / 3 Zits / Trek     1
2.4 Airco, Cruise Control, Stuurbekrachtiging          1
Name: short_description, Length: 54363, dtype: int64

# 6 Column name: price

In [15]:
df['price'] = df['price'].apply(lambda x: '€ ' + re.sub(r'[^\d.,]+', '', x).replace(',', '.').replace('.', '', 1).rstrip('.'))
df['price'] = df['price'].str.replace('€', '')
pd.to_numeric(df['price'], errors='coerce').head()
# birim isaretleri kalkarsa rahatlikla mean median kullanabiliriz.

0     4.450
1    12.950
2    12.450
3    14.945
4    24.900
Name: price, dtype: float64

# 7 Column Name : mileage    #dtype int olması gerekiyor

In [16]:
mileage_1 = []
for i in df['mileage']:
    result = re.search(r'\d{1,3}(?:,\d{3})*', i)
    if result:
        mileage_1.append(result.group(0))
    else:
        mileage_1.append(None)

mileage_son = pd.DataFrame(mileage_1,columns=["mileage"])

df["mileage"] = mileage_son["mileage"]

In [17]:
df.rename(columns = {'mileage':'mileage(km)'}, inplace = True)  # in place of every line, we write 'km' to column name as unit 
df["mileage(km)"].head()

0    191,066
1     94,758
2    145,102
3    119,666
4     55,815
Name: mileage(km), dtype: object

# 8 colum name : gearbox  #Gearbox sütunu ile karşılaştırıldı

In [18]:
df['gearbox'] = df['gearbox'].str.replace(r'[\d,]+', '', regex=True).str.strip()
df['gearbox'].value_counts()

# buyuk harfle yazilan daha iyi bir sutun

Automatic           36633
Manual              25430
Semi-automatic        611
['\n' None '\n']       85
/                       7
Name: gearbox, dtype: int64

# Gearbox sütunu ile karşılaştırıldı    # Büyük harf ile başlayan sütun kalacak diğer sütün drop yapılacak

In [19]:

df['Gearbox'] = df['Gearbox'].str.strip("\n ,")
df['gearbox'] = df['gearbox'].fillna("None")
df.loc[(df['gearbox'] != 'None'), ['gearbox', 'Gearbox']]
df['gearbox'].value_counts()

Automatic           36633
Manual              25430
Semi-automatic        611
['\n' None '\n']       85
/                       7
Name: gearbox, dtype: int64

# 8 colum name : registration

In [20]:
df['registration'].value_counts()

01/2021    2883
01/2022    1284
12/2016     719
03/2021     719
12/2020     636
           ...
05/1997       1
02/1981       1
05/1995       1
07/2028       1
10/1996       1
Name: registration, Length: 302, dtype: int64

# 10 Column name : fuel_type  #Fuel_type sütunu ile karşılaştırıldı. #Fuel_type sütunu kalacak diğer sütun silinebilir. İki sütun karşılaştırılmasında fuel_type da yer alan None değerlerin karşılığı Fuel_type sütununda electric ile eşleştiği için Fuel_type sütunundaki None değerler Electric ile doldurulacak.

In [21]:
df['fuel_type'] = df['fuel_type'].str.strip("\n\r,")
df['Fuel_type'] = df['Fuel_type'].str.strip("\n\r,")
df['fuel_type'] = df['fuel_type'].fillna("None")
df.loc[(df['fuel_type'] != 'None'), ['fuel_type', 'Fuel_type']]
df['fuel_type'].value_counts() # Icinde gearbox ile lgili bilgiler de var. Kayit ederken kaydirma yapilmis olabilir
# fuel_type i secmek digerini silmek mantkli olabilir
df['Fuel_type'].value_counts()

Gasoline                                        22959
Super 95                                        17686
Diesel                                          10783
None                                             8782
Diesel (Particle filter)                         1209
Super E10 95                                      408
LPG                                               309
Liquid petroleum gas (LPG)                        237
Gasoline (Particle filter)                        140
Electric                                           74
Domestic gas L                                     56
CNG                                                41
Super Plus 98                                      27
Super 95 (Particle filter)                         24
Hydogen                                            12
Ethanol                                             9
Regular/Benzine 91                                  4
Others                                              3
Electric (Particle filter)                          1
Domestic gas L (Particle filter)                    1
Liquid petroleum gas (LPG) (Particle filter)        1
Name: Fuel_type, dtype: int64

# 11 Column name : power     #30 Power sütunu ile karşılaştırıldı. hp birim olarak kullanılmasının uygun olduğuna karar verildi. Birim ifadesi sütuna eklenecek.

In [22]:
df['power'] = df['power'].str.strip("\n\r,")
df['Power'] = df['Power'].str.strip("\n\r,")
df['power'] = df['power'].fillna("None")
df.loc[(df['power'] != 'None'), ['power', 'Power']]
# Integere cevirmek icin birimleri kolona alabiliriz. hp zaten kW ye bagli bi deger oldugu icin o kismi rahatlikla silebiliriz
df['Power'].value_counts() # Buyuk harfle olani almak daha mantikl olabilir
df['Power'] = df['Power'].str.extract(r'(\d+)')
df['Power'] # sutun ismini tum analizleri yaptiktan sonra degstiririz.

0        110
1         92
2         92
3         92
4        110
        ...
62761    125
62762    103
62763    132
62764    103
62765    104
Name: Power, Length: 62766, dtype: object

# 12 Column Name : seller

In [23]:
df['seller'] = df['seller'].str.lstrip("[', [' \s\S\t n ")
df['seller'] = df['seller'].str.rstrip("[', [] ' \s\S\t n")  


#seller has three not related unique values(electric, diesel , Gasoline) 
#bunlar diger sutunlara ait olabilir
df["seller"].replace("Diesel", None, inplace = True) 
df["seller"].replace("Electric", None, inplace = True) 
df["seller"].replace("Gasoline", None, inplace = True) 
df["seller"].value_counts()

Dealer            57435
Private seller     5331
Name: seller, dtype: int64

# 13 Column name: body_type   # None değerlerin sayısı düşük  ne yapılacağına karar verilecek.

In [24]:
df['body_type'] = df['body_type'].str.replace(',', '').str.strip()
df['body_type'].value_counts() # 948 none deger

Off-Road/Pick-up    17348
Compact             13185
Station wagon       11318
Van                  6243
Sedan                5341
Convertible          3645
Transporter          2249
Coupe                1923
None                  948
Other                 562
Panel van               2
Car transport           1
Flatbed van             1
Name: body_type, dtype: int64

# 14 Column name: type

In [25]:
df['type'] = df['type'].str.replace(',', '').str.strip()
df['type'].value_counts()# 948 none values

Used              55523
New                3413
Demonstration      1889
Pre-registered      993
None                948
Name: type, dtype: int64

# 15 Column name: drivetrain  # drivetrain ile ilgili literatür calismasi yapilacak. 14594 none değeri tarama sonrası değerlendirilecek.

In [26]:
df['drivetrain'] = df['drivetrain'].str.replace(',', '').str.strip()
df['drivetrain'].value_counts() # cekis demek , 14594 none var

Front    33522
None     14594
4WD       7363
Rear      7287
Name: drivetrain, dtype: int64

# 16 Column Name: seats   

#Sütundaki 0 değerlerini ortalama 5 koltuk olduğundan dolayı 5 ile doldurabiliriz.

4925 nan degeri mean yada mode ile mi dolduracaz???
df["seats"]= df["seats"].fillna(df["seats"].mode()[0])

In [27]:
df["seats"].unique()

array(['\n5', '\n4', 'None\n', '\n2', '\n6', '\n7', '\n3', '\n14', '\n9',
       '\n8', '\n1'], dtype=object)

In [28]:
df["seats"]=df["seats"].str.strip(',\n')
df["seats"].replace("None", "0", inplace = True) #None values may stay as None. There are no car without seat
df["seats"]=df["seats"].astype(int)
df["seats"].replace(0, np.nan, inplace=True)

In [29]:
df["seats"].unique()

array([ 5.,  4., nan,  2.,  6.,  7.,  3., 14.,  9.,  8.,  1.])

In [30]:
df["seats"].isna().sum()

4925

# 17 Column Name: doors   
kapı sayısındaki 0 değerleri ortalama değer ile doldurulabilir.

# none degerler artik gözüküyor.
son karar kismi, mode ile mi doldurulack bos mu birakilacak
df["doors"]= df["doors"].fillna(df["doors"].mode()[0])

In [31]:
df["doors"].unique()

array(['\n3', '\n5', '\n4', 'None\n', '\n2', '\n6', '\n1'], dtype=object)

In [32]:

df["doors"]=df["doors"].str.strip(',\n')
df["doors"].replace("None", "0", inplace = True) #None values may stay as None. There are no car without door
df["doors"]=df["doors"].astype(int)
df["doors"].value_counts()

5    45496
4     8413
2     5286
3     2329
0     1161
6       79
1        2
Name: doors, dtype: int64

In [33]:
df["doors"].replace(0, np.nan, inplace=True)
df["doors"].isna().sum()

1161

# 18 Column Name: country_version   #54824 None değeri var. Değer çok yüksek?

In [34]:
df['country_version'] = df['country_version'].str.split(',').str[-1].str.strip()
df['country_version'].value_counts()
# 54824 none values var

None                    54824
Netherlands              6835
Germany                   772
Belgium                   106
Sweden                     50
Denmark                    36
France                     21
Czechia                    19
Spain                      16
Switzerland                14
Italy                      13
United States              13
Poland                     12
Austria                     9
Luxembourg                  6
Slovenia                    5
United Kingdom              2
Hungary                     2
Japan                       2
Canada                      2
Romania                     1
Slovakia                    1
Estonia                     1
Namibia                     1
Lithuania                   1
Latvia                      1
United Arab Emirates        1
Name: country_version, dtype: int64

# 19 Column name : offer_number #fatura numarası veya sipariş numarası olup olmadığı literatür araştırması yapılarak karar verilecek.

In [35]:
df["offer_number"]= df["offer_number"].str.strip(',\n')
df["offer_number"].value_counts()

None        9928
NIEUW         53
XX            28
.             17
1776          13
            ...
#38416         1
#38787         1
#38418         1
#37783         1
26-HN-LS       1
Name: offer_number, Length: 50143, dtype: int64

# 20 Column name : warranty # literatür taraması yapılacak. sonrasında değerlendirilecek

In [36]:
df['warranty'] = df['warranty'].str.replace(',', '').str.strip()
df['warranty'].value_counts()

None         41605
6 months     16607
3 months      1643
12 months     1362
24 months     1026
1 months       248
84 months      204
18 months       35
36 months       10
2 months         8
48 months        6
Yes              3
60 months        3
26 months        2
9 months         2
10 months        1
4 months         1
Name: warranty, dtype: int64

# 21 Column name : Mileage    #Data içinde 2 adet Mileage sütunu mevcut ve bu sütunda bilgi olmadığından drop yapılacak

In [37]:
df['Mileage'].unique()

array(["[['\\n'], ['']]", "[['\\n'], ['None']]"], dtype=object)

# 22 Column name: first_registration  ve #9 column name : registration birbiri ile uyumlu kontrol sağlanıp bir sütun drop yapılacak.

In [38]:
df['first_registration'].head()

0    08/2003
1    10/2013
2    06/2015
3    10/2015
4    10/2017
Name: first_registration, dtype: object

# 23 Column Name : production_date  ve 9 Column name :registration değerleri birbiri ile uyumlu bundan dolayı none değerleri registirationdaki değerler ile dolduruldu.

In [39]:
# df['production_date'] = pd.to_datetime(df['production_date'], format='%Y')

#Producton_date ve registration arasinda bag var. Yillar ayni. Burdan doldurabiliriz
df['production_date'] = df['production_date'].fillna("None")
df.loc[(df['production_date'] != 'None'), ['production_date', 'registration']]

      production_date registration
2                2015      06/2015
7                2011      07/2011
8                2012      08/2012
14               2012      05/2012
26               2013      07/2013
...               ...          ...
62696            2007      03/2007
62708            2010      09/2010
62714            2007      07/2007
62719            2005      02/2005
62728            2010      12/2010

[6556 rows x 2 columns]

# 24 Column Name : general_inspection #15532 new değeri mevcut. New Değerleri 2023 olarak doldurulacak.

In [40]:
df["general_inspection"].value_counts()
#df["general_inspection"].unique()

New        15532
None       15038
06/2022     2169
03/2022     2025
07/2022     1936
           ...
11/2014        1
09/2017        1
08/2018        1
06/2019        1
12/2019        1
Name: general_inspection, Length: 94, dtype: int64

# 25 Column Name : last_service               #column içerisinde sadece nan değeri var. Drop yapılacak. Kalıcı silme olmayacak.

In [41]:
df['last_service'].unique()

array(['None'], dtype=object)

# 26 Column Name: full_service_history  #dtype int cevrilecek. 0 ve 1 olarak değiştirilecek.

In [42]:
df['full_service_history'] = df['full_service_history'].str.replace(',', '').str.strip()
df['full_service_history'].unique()

array(['Yes', 'None'], dtype=object)

#  full_service_encoded sütununda değerler 1-0 olarak yazıldı.

In [43]:
from sklearn.preprocessing import LabelEncoder          
lbe=LabelEncoder()
lbe.fit_transform(df["full_service_history"])

df['full_service_encoded']=lbe.fit_transform(df["full_service_history"])
df['full_service_encoded']

0        1
1        1
2        1
3        1
4        1
        ..
62761    1
62762    1
62763    1
62764    0
62765    0
Name: full_service_encoded, Length: 62766, dtype: int64

# 27 Column Name : non_smoker_vehicle #dtype int cevrilecek. 0 ve 1 olarak değiştirilecek.

In [44]:
df['non_smoker_vehicle'] = df['non_smoker_vehicle'].str.replace(',', '').str.strip()
df['non_smoker_vehicle'].value_counts()

None    57769
Yes      4997
Name: non_smoker_vehicle, dtype: int64

# non_smoker_encoded sütununda değerler 1-0 olarak yazıldı.

In [45]:
lbe.fit_transform(df["non_smoker_vehicle"])

array([0, 0, 1, ..., 0, 0, 0])

In [46]:
df['non_smoker_encoded']=lbe.fit_transform(df["non_smoker_vehicle"])
df['non_smoker_encoded']

0        0
1        0
2        1
3        0
4        0
        ..
62761    0
62762    0
62763    0
62764    0
62765    0
Name: non_smoker_encoded, Length: 62766, dtype: int64

# 28 Column Name : previous_owner

In [47]:
df['previous_owner'] = df['previous_owner'].str.lstrip("[' \s\S\t n ',]")
df['previous_owner'] = df['previous_owner'].str.rstrip("['\s,]")
df['previous_owner'].unique()

array(['None', '3', '2', '1', '5', '7', '9', '4', '6', '8', '12', '10'],
      dtype=object)

# 29 Column Name : last_timing_belt_change  # 61925 None değeri hic degismedigi anlamina geldigi icin production date ile doldurulacak.

In [48]:
df['last_timing_belt_change'] = df['last_timing_belt_change'].str.lstrip(" [',] '\a \s\S\t\r n ' ")
df['last_timing_belt_change'] = df['last_timing_belt_change'].str.rstrip(" [',] '\a \s\S\t\r n ' ")

df['last_timing_belt_change'].unique()
df['last_timing_belt_change'].value_counts()

None       61925
06/2021       41
05/2021       31
10/2021       31
09/2021       28
           ...
02/2015        1
04/2016        1
06/2014        1
04/2015        1
11/2015        1
Name: last_timing_belt_change, Length: 82, dtype: int64

# 30 Column Name : Power   #dtype int e cevrilecek. 5333 None değeri var

In [49]:
df["Power"].value_counts()

110    3677
88     2518
100    2190
90     2175
85     2083
       ...
378       1
164       1
237       1
37        1
10        1
Name: Power, Length: 355, dtype: int64

In [50]:
df["power"].value_counts()

[None, '']         5333
110 kW (150 hp)    3677
88 kW (120 hp)     2518
100 kW (136 hp)    2190
90 kW (122 hp)     2174
                   ...
378 kW (514 hp)       1
282 kW (383 hp)       1
470 kW (639 hp)       1
451 kW (613 hp)       1
10 kW (14 hp)         1
Name: power, Length: 361, dtype: int64

# 31 Column Name: Gearbox   aynı sütundan var

# 32 Column Name : engine_size   
 dtype int e cevrilecek. 5143 None değeri var
 99 '0' cc degeri var. 
none cevirme kodunu düzenleyince 0 degrlerden none ekleniyor.
df["engine_size"].replace(0, np.nan, inplace=True)

In [51]:
df["engine_size"]= df["engine_size"].str.strip(',\n,')
df["engine_size"]= df["engine_size"].str.replace("None", "0").str.replace(",", "")
df["engine_size"]= df["engine_size"].str.replace("cc", "")

df["engine_size"].head()

0    1984
1    1395
2    1395
3    1395
4    1495
Name: engine_size, dtype: object

In [52]:
df["engine_size"] = df["engine_size"].astype(int)
df["engine_size"].head()

#df["engine_size"].isna().sum()

0    1984
1    1395
2    1395
3    1395
4    1495
Name: engine_size, dtype: int64

# 33 Column Name : gears  # 18184 none degeri var literatür arastirmasi yapilacak

In [53]:
df["gears"]=df["gears"].str.strip(',\n,')
df["gears"].unique()
df["gears"].value_counts()

6       18882
None    18184
5       10834
7        6867
8        4905
1        1547
9         881
4         621
2          37
3           8
Name: gears, dtype: int64

bi iki koda gerek var mi pek emin degilim,
Data missing de konusabiliriz!!!
df["gears"].replace("None", "0", inplace = True)
df["gears"]=df["gears"].astype(int)

# 34 Column Name: cylinders  5532 None değeri var

none degerler mode ile doldurulabilir. medyan ve mode degrelri cok yakin, yada none olarak kalablr.
df["cylinders"]= df["cylinders"].fillna(df["cylinders"].mode()[0])

In [54]:
df["cylinders"]=df["cylinders"].str.strip(',\n,')
df["cylinders"].unique()
df["cylinders"].value_counts()

4       41993
3        7664
None     5532
6        4260
5        1390
8         937
1         498
2         400
10         65
12         26
7           1
Name: cylinders, dtype: int64

In [56]:
df["cylinders"] = pd.to_numeric(df["cylinders"], errors='coerce')
df["cylinders"].isna().sum()
#df["cylinders"].mode()

5532

#  35 Column Name : empty_weight

In [58]:
df["empty_weight"]=df["empty_weight"].str.strip('[\n,')
df["empty_weight"]=df["empty_weight"].str.replace(' kg', '').str.replace(',', '')
df["empty_weight"].value_counts()

1295    1529
None    1407
1405    1127
1635     795
1065     658
        ...
2387       1
2481       1
2163       1
2283       1
2036       1
Name: empty_weight, Length: 1539, dtype: int64

In [59]:
df["empty_weight"] = pd.to_numeric(df["empty_weight"], errors='coerce')
df["empty_weight"].isna().sum()

1407

In [60]:
# none degerleri bu degerlerden biriyle mi dolduracgiz,, yada bos birakcagiz???
df["empty_weight"].mean()      #1433.23
df["empty_weight"].mode()       #1295
df["empty_weight"].median()    #1381

1381.0

# 36 Column Name: Fuel_type

In [ ]:
df["Fuel_type"]=df["Fuel_type"].str.strip('[\n,')
df["Fuel_type"].head(15)

0     Super 95
1     Gasoline
2     Gasoline
3     Gasoline
4     Super 95
5     Super 95
6     Gasoline
7     Gasoline
8     Gasoline
9     Super 95
10    Gasoline
11    Super 95
12    Gasoline
13    Super 95
14    Gasoline
Name: Fuel_type, dtype: object

# 37 Column name : fuel_consumption # city ve country sütunlari olusturulacak.

In [ ]:
df['fuel_consumption'] = df['fuel_consumption'].str.lstrip(" [', \s\S\t\r\n,n ' ")
df['fuel_consumption'] = df['fuel_consumption'].str.rstrip("[', '] \s\S\t\r\n,\\n  ")
df['fuel_consumption'] = df['fuel_consumption'].str.replace("'","")
df['fuel_consumption']

0                                                     None
1                                     4.9 l/100 km (comb.)
2        0 l/100 km (comb.), 0 l/100 km (city), 0 l/100...
3        4.8 l/100 km (comb.), 5.9 l/100 km (city), 4.2...
4        5 l/100 km (comb.), 6.2 l/100 km (city), 4.3 l...
                               ...
62761                                                 None
62762                                                 None
62763    9.1 l/100 km (comb.), 12.6 l/100 km (city), 7 ...
62764                                                 None
62765    8.4 l/100 km (comb.), 11.6 l/100 km (city), 6....
Name: fuel_consumption, Length: 62766, dtype: object

# 38 Column Name: co2_emissions

In [ ]:
df['co2_emissions'] = df['co2_emissions'].str.strip(",\n")
df["co2_emissions"] = df["co2_emissions"].str.rstrip(" [',] \s\S\t\r\n n' ")
df["co2_emissions"] = df["co2_emissions"].str.lstrip(" [', \s\S\t\r\n ' ")
df['co2_emissions'].value_counts()

co2_emissions
None                9867
                    6887
0 g/km (comb.)      4973
139 g/km (comb.)    1061
149 g/km (comb.)     911
                    ...
392 g/km (comb.)       1
378 g/km (comb.)       1
24 g/km (comb.)        1
55 g/km (comb.)        1
70 g/km (comb.)        1
Name: count, Length: 346, dtype: int64

# 39 Column Name : emission_class  #literatür incelenecek ve euro 6 için euro 6 c veya euro6d olup olmadığı araştırılacak eğer yoksa euro 6c ve 6d değerleri Euro 6 şeklinde düzenlenecek

In [ ]:
df['emission_class'] = df['emission_class'].str.strip(",\n")
df['emission_class'].value_counts()

emission_class
Euro 6                           19704
None                             19076
Euro 5                           10675
Euro 4                            7710
Euro 6d-TEMP                      2675
Euro 3                            1702
['\n', [' ', ' ', ' '], '\n']      597
Euro 1                             461
Euro 2                             129
Euro 6c                             20
Euro 6d                             17
Name: count, dtype: int64

# 40 Column Name: emissions_sticker           #drop yapılacak

In [ ]:
df["emissions_sticker"].unique()

array(['\n,None,\n', '\n,4 (Green),\n', '\n,3 (Yellow),\n',
       '\n,1 (No sticker),\n', "['\\n', [' ', ' ', ' '], '\\n']",
       '\n,2 (Red),\n'], dtype=object)

In [ ]:
df["emissions_sticker"] = df["emissions_sticker"].str.rstrip(" [',] \s\S\t\r\n ' ")
df["emissions_sticker"] = df["emissions_sticker"].str.lstrip(" [',] \s\S\t\r\n ' ")
df["emissions_sticker"] = df["emissions_sticker"].str.strip(" ")
df["emissions_sticker"] = df["emissions_sticker"].str.replace("\\n","")
df["emissions_sticker"].value_counts()

emissions_sticker
None                      62632
4 (Green)                   106
1 (No sticker)               12
n', [' ', ' ', ' '], '       11
3 (Yellow)                    4
2 (Red)                       1
Name: count, dtype: int64

# 41 Column Name : Comfort & Convenience   #Air Conditioning -Cruise control sütunları oluşturulacak ve 0-1 şeklinde düzenlenecek.

In [ ]:
df.rename({"\nComfort & Convenience\n":"comfort_convenience"}, inplace = True, axis = 1) # sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["comfort_convenience"] = df["comfort_convenience"].str.rstrip(" [', \s\S\t\r n ' ")
df["comfort_convenience"] = df["comfort_convenience"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["comfort_convenience"] = df["comfort_convenience"].str.replace("'","")
df["comfort_convenience"].unique()

array(['Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Navigation system, Power windows, Sunroof]]',
       'Air conditioning, Automatic climate control, Electrical side mirrors, Light sensor, Power windows, Rain sensor]]',
       'Air conditioning, Armrest, Automatic climate control, Cruise control, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats]]',
       ...,
       'Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Electrically adjustable seats, Leather steering wheel, Parking assist system sensors rear, Rain sensor, Seat heating]]',
       'Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Parking assist system sensors rear, Power windows, Rain sensor, Sunroof]]',
       'Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Navigation system, Power windows, Sunroof]]'],
      dtype=object)

In [ ]:


df['air_conditioning'] = df['comfort_convenience'].str.split(',').str.get(0)

df['air_conditioning'].head()

#df['air_conditioning1'] = df['air_conditioning1'].fillna("None")
#df.loc[(df['air_conditioning1'] != 'None'), ['air_conditioning1', 'air_conditioning']]

0    Air conditioning
1    Air conditioning
2    Air conditioning
3    Air conditioning
4    Air conditioning
Name: air_conditioning, dtype: object

In [ ]:
lbe.fit_transform(df["air_conditioning"])

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
df['air_conditioning']=lbe.fit_transform(df["air_conditioning"])
df['air_conditioning'].head()

0    1
1    1
2    1
3    1
4    1
Name: air_conditioning, dtype: int32

# 42 Column Name : Entertaiment & Media  #Bluetooth sütunu oluşturulacak 0 ve 1 şeklinde düzenlenecek

In [ ]:
df['\nEntertainment & Media\n'].unique()

array(["[['CD player', 'Radio']]",
       "[['Bluetooth', 'CD player', 'On-board computer', 'USB']]",
       "[['CD player', 'MP3', 'On-board computer', 'Radio']]", ...,
       "[['Apple CarPlay', 'CD player', 'Digital cockpit', 'On-board computer', 'Radio']]",
       "[['Apple CarPlay', 'CD player', 'On-board computer', 'Radio', 'Sound system']]",
       "[['Android Auto', 'Apple CarPlay', 'Bluetooth', 'CD player', 'Digital cockpit', 'Digital radio', 'Hands-free equipment', 'Induction charging for smartphones', 'Integrated music streaming', 'On-board computer', 'Radio', 'Sound system', 'USB']]"],
      dtype=object)

In [65]:
df.rename({"\nEntertainment & Media\n":"entertainment_media"},inplace = True, axis = 1)# sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["entertainment_media"] = df["entertainment_media"].str.rstrip(" [',] \s\S\t\r n ' ")
df["entertainment_media"] = df["entertainment_media"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["entertainment_media"] =  df["entertainment_media"].str.replace("'","")
df["entertainment_media"].unique()

array(['CD player, Radio', 'Bluetooth, CD player, On-board computer, USB',
       'CD player, MP3, On-board computer, Radio', ...,
       'Apple CarPlay, CD player, Digital cockpit, On-board computer, Radio',
       'Apple CarPlay, CD player, On-board computer, Radio, Sound system',
       'Android Auto, Apple CarPlay, Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, On-board computer, Radio, Sound system, USB'],
      dtype=object)

In [ ]:
search_value = 'Bluetooth'

# sütunun içinde arama yaparak ilgili satırları seçmek
search_result = df[df['entertainment_media'].str.contains(search_value)]

# arama sonucunu yazdırmak
if not search_result.empty:
    print(f"Aradığınız sayı ({search_value}) veri kümesinde yer alan satırlarda mevcut:")
    print(search_result)
else:
    print(f"Aradığınız sayı ({search_value}) veri kümesinde yer alan satırlarda bulunamadı.")

Aradığınız sayı (Bluetooth) veri kümesinde yer alan satırlarda mevcut:
       Unnamed: 0                    location    make model
2               3           BAARLE-NASSAU, NL   Audi     A1  \
7              10                  HEESCH, NL   Audi     A3
8              11  VALKENBURG AAN DE GEUL, NL   Audi     A1
17             22               OLDENZAAL, NL   Audi     A5
20             26              RIDDERKERK, NL   Audi     A3
...           ...                         ...     ...   ...
62691       71023                ENSCHEDE, NL  Volvo    V60
62708       71042              LOENEN GLD, NL  Volvo    V70
62714       71048                 HENGELO, NL  Volvo    V70
62728       71064                   ASSEN, NL  Volvo    V70
62755       71092                  ZETTEN, NL  Volvo    S80

                                       short_description    price mileage(km)
2        1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.   12.450     145,102  \
7             1.8 TFSI Ambition Pro Line S aut. S-tronic   12.950     139,703
8      1.4 TSI  S-Tronic Navigatie MF Stuurwiel LED V...   13.950     103,626
17                                     1.8 TFSI Pro Line   15.999     163,126
20     1.2 TFSI sportback S-line full option Pano key...   15.950     157,000
...                                                  ...      ...         ...
62691                   2.4 D6 AWD Plug-in hybrid Summun    9.100     305,000
62708  2.5FT 231pk Momentum CNG/ECC/cruise/navi/trekh...   11.900     269,143
62714  2.4 Momentum CNG /Ecc/Cruise/ Xenon/Trekhaak/B...   10.900     162,539
62728              2.5FT SUMMUM met nieuw G3 lpg systeem   14.450     212,500
62755                                         3.2 Summum    9.999     150,000

         gearbox registration        fuel_type  ...            \npaint
2      Automatic      06/2015         Gasoline  ...  \npaint, Metallic  \
7      Automatic      07/2011         Gasoline  ...  \npaint, Metallic
8      Automatic      08/2012         Gasoline  ...                NaN
17     Automatic      03/2012         Gasoline  ...                NaN
20     Automatic      06/2014         Gasoline  ...                NaN
...          ...          ...              ...  ...                ...
62691  Automatic      07/2013  Electric/Diesel  ...  \npaint, Metallic
62708  Automatic      09/2010              CNG  ...  \npaint, Metallic
62714  Automatic      07/2007              CNG  ...  \npaint, Metallic
62728     Manual      12/2010              LPG  ...  \npaint, Metallic
62755  Automatic      01/2011              LPG  ...  \npaint, Metallic

        upholstery_colour         upholstery  full_service_encoded
2                      NaN                NaN                    1  \
7                      NaN  \n8, Full leather                    1
8                      NaN                NaN                    1
17     \nupholstery, Black  \n8, Full leather                    0
20                     NaN                NaN                    0
...                    ...                ...                  ...
62691  \nupholstery, Black  \n8, Full leather                    1
62708                  NaN  \n8, Full leather                    1
62714                  NaN  \n8, Part leather                    1
62728                  NaN  \n8, Full leather                    1
62755                  NaN  \n8, Full leather                    0

      non_smoker_encoded  air_conditioning  air_conditioning1
2                      1                 1   Air conditioning  \
7                      0                 1   Air conditioning
8                      1                 1   Air conditioning
17                     0                 1   Air conditioning
20                     0                 1   Air conditioning
...                  ...               ...                ...
62691                  1                 1   Air conditioning
62708                  1                 1   Air conditioning
62714                  1                 5            Armrest
62728                  1                 1   Air conditioning
62755                  1                 1   Air conditioning

                                          column1_sorted
2      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...  \
7      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
8      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
17     [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
20     [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
...                                                  ...
62691  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62708  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62714  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62728  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62755  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...

                             ccomfort_convenience_sorted
2      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...  \
7      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
8      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
17     [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
20     [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
...                                                  ...
62691  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62708  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62714  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62728  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62755  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...

                              comfort_convenience_sorted
2      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
7      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
8      [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
17     [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
20     [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
...                                                  ...
62691  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62708  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62714  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62728  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
62755  [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...

[8569 rows x 56 columns]

In [70]:
df['bluetooth'] = df['entertainment_media'].str.split(',').str.get(0)

df['bluetooth'].head()

0    CD player
1    CD player
2    Bluetooth
3    CD player
4    CD player
Name: bluetooth, dtype: object

# 43 Column Name : Safety & Security

In [59]:
df.rename({"\nSafety & Security\n":"safety_security"},inplace = True, axis = 1)# sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["safety_security"] = df["safety_security"].str.rstrip(" [', \s\S\t\r n ' ")
df["safety_security"] = df["safety_security"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["safety_security"] =  df["safety_security"].str.replace("'","")
df["safety_security"].unique()

array(['ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Passenger-side airbag, Power steering, Side airbag, Traction contro]]',
       'Alarm system, Central door lock, Central door lock with remote control, Fog lights, Immobilizer]]',
       'ABS, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction contro]]',
       ...,
       'ABS, Adaptive headlights, Alarm system, Bi-Xenon headlights, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Isofix, Passenger-side airbag, Power steering, Rear airbag, Side airbag, Traction contro]]',
       'ABS, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Isofix, Power steering, Side airbag, Traction contro]]',
       'ABS, Alarm system, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Immobilizer, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Traction control, Xenon headlights]]'],
      dtype=object)

In [ ]:
search_value = 'ABS'

# sütunun içinde arama yaparak ilgili satırları seçmek
search_result = df[df['safety_security'].str.contains(search_value)]

# arama sonucunu yazdırmak
if not search_result.empty:
    print(f"Aradığınız sayı ({search_value}) veri kümesinde yer alan satırlarda mevcut:")
    print(search_result)
else:
    print(f"Aradığınız sayı ({search_value}) veri kümesinde yer alan satırlarda bulunamadı.")

Aradığınız sayı (ABS) veri kümesinde yer alan satırlarda mevcut:
       Unnamed: 0                 location    make model
0               0         LOON OP ZAND, NL   Audi     A3  \
2               3        BAARLE-NASSAU, NL   Audi     A1
3               4              ZUTPHEN, NL   Audi     A1
4               7          HAAKSBERGEN, NL   Audi     A3
5               8                WEZEP, NL   Audi     A3
...           ...                      ...     ...   ...
62761       71098           ETTEN-LEUR, NL  Volvo    S60
62762       71099  HENDRIK-IDO-AMBACHT, NL  Volvo    S60
62763       71101             LELYSTAD, NL  Volvo    S60
62764       71102            AMSTERDAM, NL  Volvo    S40
62765       71103          SOESTERBERG, NL  Volvo    S60

                                       short_description    price mileage(km)
0                              2.0 FSI Ambition Pro Line    4.450     191,066  \
2        1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.   12.450     145,102
3      S-Line | Automaat | Navigatie | Cruise-/Climat...   14.945     119,666
4      Sportback 1.5 TFSI Sport | Dealer Onderhouden ...   24.900      55,815
5                             Sportback 30 TFSI/Automaat   24.750      47,536
...                                                  ...      ...         ...
62761                          2.4 Edition APK/LMV/Airco    1.799     298,160
62762        2.4 Kinetic LPG-G3 NAP/LEER/NAVI/DAK/NW APK    1.999     442,713
62763  2.0T Edition,1e Eigenaar,LPG G3,Onderbouw,Navi...    3.449     340,257
62764                                                2.4    1.650     399,990
62765      2.4 Airco, Cruise Control, Stuurbekrachtiging      944     404,758

         gearbox registration fuel_type  ...
0      Automatic      08/2003  Gasoline  ...  \
2      Automatic      06/2015  Gasoline  ...
3      Automatic      10/2015  Gasoline  ...
4      Automatic      10/2017  Gasoline  ...
5      Automatic      03/2019  Gasoline  ...
...          ...          ...       ...  ...
62761     Manual      12/2000       LPG  ...
62762     Manual      02/2005       LPG  ...
62763     Manual      08/2004       LPG  ...
62764     Manual      01/2004       LPG  ...
62765     Manual      09/2001       LPG  ...

                                         safety_security
0      ABS, Alarm system, Central door lock, Central ...  \
2      ABS, Central door lock with remote control, Dr...
3      ABS, Alarm system, Bi-Xenon headlights, Centra...
4      ABS, Alarm system, Bi-Xenon headlights, Centra...
5      ABS, Alarm system, Bi-Xenon headlights, Centra...
...                                                  ...
62761  ABS, Central door lock, Central door lock with...
62762  ABS, Central door lock, Central door lock with...
62763  ABS, Central door lock, Central door lock with...
62764  ABS, Central door lock with remote control, Dr...
62765  ABS, Alarm system, Central door lock, Central ...

                                                  extras    \ncolour
0                                     [['Alloy wheels']]   \n4, Grey  \
2                               [['Alloy wheels (15")']]   \n4, Grey
3      [['Alloy wheels (17")', 'Shift paddles', 'Spor...  \n4, Black
4      [['Alloy wheels (17")', 'Sport seats', 'Sport ...   \n4, Grey
5                               [['Alloy wheels (16")']]   \n4, Grey
...                                                  ...         ...
62761                           [['Alloy wheels (15")']]  \n4, Black
62762                           [['Alloy wheels (15")']]   \n4, Blue
62763  [['Alloy wheels (17")', 'Automatically dimming...  \n4, Black
62764  [['Alloy wheels (16")', 'Automatically dimming...  \n4, Beige
62765                                 [['Alloy wheels']]   \n4, Grey

      \nmanufacturer_color            \npaint   upholstery_colour
0                      NaN  \npaint, Metallic  \nupholstery, Black  \
2                      NaN  \npaint, Metallic                  NaN
3                      NaN                NaN  \nupholstery, Black
4                      NaN  \npaint, Metallic  \nupholstery, Black
5                      NaN  \npaint, Metallic   \nupholstery, Grey
...                    ...                ...                  ...
62761                  NaN                NaN                  NaN
62762                  NaN                NaN                  NaN
62763                  NaN  \npaint, Metallic                  NaN
62764                  NaN  \npaint, Metallic  \nupholstery, Beige
62765                  NaN  \npaint, Metallic                  NaN

             upholstery  full_service_encoded non_smoker_encoded abs
0             \n8, Cloth                    1                  0   0
2                    NaN                    1                  1   0
3      \n8, Part leather                    1                  0   0
4             \n8, Cloth                    1                  0   0
5             \n8, Cloth                    1                  0   0
...                  ...                  ...                ...  ..
62761                NaN                    1                  0   0
62762  \n8, Part leather                    1                  0   0
62763  \n8, Part leather                    1                  0   0
62764        \n8, Velour                    0                  0   0
62765  \n8, Part leather                    0                  0   0

[59126 rows x 52 columns]

# abs_encoded Sütunu oluşturuldu ve sütundaki değerler 1-0 olarak yazırılmaya çalışıldı ama 1 ve 0 olması gerekirken farklı sayılar çıktı   :)

In [71]:
df['abs_encoded'] = df['safety_security'].str.split(',').str.get(0)

df['abs_encoded'].head()

0             ABS
1    Alarm system
2             ABS
3             ABS
4             ABS
Name: abs_encoded, dtype: object

In [72]:
lbe.fit_transform(df["abs_encoded"])

array([0, 5, 0, ..., 0, 0, 0])

In [73]:
df['abs']=lbe.fit_transform(df["abs_encoded"])
df['abs'].unique()

array([ 0,  5,  3,  7, 11, 13, 15, 30, 18,  4,  9, 40, 37, 31, 28, 12, 17,
       32, 27,  8,  1, 36, 39,  6, 20, 22, 24, 19, 29, 25,  2, 14, 34, 10,
       26, 16, 21, 33, 23, 35, 38])

# 44 Column Name : extras

In [ ]:
df["extras"] = df["extras"].str.rstrip(" [',] \s\S\t\r n ' ")
df["extras"] = df["extras"].str.lstrip(" [',] '\a \s\S\t\r n ' ")
df["extras"] =  df["extras"].str.replace("'","")
df["extras"]

0                                              Alloy wheel
1                                       Alloy wheels (16")
2                                       Alloy wheels (15")
3        Alloy wheels (17"), Shift paddles, Sport seats...
4         Alloy wheels (17"), Sport seats, Sport suspensio
                               ...
62761                                   Alloy wheels (15")
62762                                   Alloy wheels (15")
62763    Alloy wheels (17"), Automatically dimming inte...
62764    Alloy wheels (16"), Automatically dimming inte...
62765                                          Alloy wheel
Name: extras, Length: 62766, dtype: object

# 45 Column Name: manifacturer_colour    içeriği tamamen nan değeriyle dolu

In [56]:
df['\nmanufacturer_color'].unique()

array([nan])

In [57]:
df = df.drop('\nmanufacturer_color', axis=1)

# 46 Column Name: colour

In [ ]:
df.rename(columns = {'\ncolour':'colour'}, inplace = True)
df["colour"].unique()

array(['\n4, Grey', '\n4, White', '\n4, Black', '\n4, Red', '\n4, Silver',
       '\n4, Brown', '\n4, Blue', '\n4, Violet', nan, '\n4, Beige',
       '\n4, Yellow', '\n4, Green', '\n4, Orange', '\n4, Bronze',
       '\n4, Gold'], dtype=object)

In [ ]:
df["colour"]=df["colour"].str.strip(',\n4,')
df["colour"].head()
#1048 none var

0      Grey
1     White
2      Grey
3     Black
4      Grey
Name: colour, dtype: object

# 47 Column Name : paint   (arabanın boyanıp boyanmadığını ifade ediyor. Renk belirtilenler boyanmış belirtilmeyenler boyanmamış. Bundan dolayı rengin yanındaki paint ifadesini gözardı edebiliriz.)

In [49]:
df.rename(columns = {'\npaint':'paint'}, inplace = True)
df["paint"].unique()
df['paint']

0        \npaint, Metallic
1                      NaN
2        \npaint, Metallic
3                      NaN
4        \npaint, Metallic
               ...
62761                  NaN
62762                  NaN
62763    \npaint, Metallic
62764    \npaint, Metallic
62765    \npaint, Metallic
Name: paint, Length: 62766, dtype: object

In [51]:
df["paint"]=df["paint"].str.strip("\n ,")
df["paint"]=df["paint"].str.replace('Metallic','')
df["paint"].head()

0    paint
1      NaN
2    paint
3      NaN
4    paint
Name: paint, dtype: object

# paint sütunu 0-1 olarak dönüştürüldü

In [52]:
lbe.fit_transform(df["paint"])
df['paint']=lbe.fit_transform(df["paint"])
df['paint'].head()

0    0
1    1
2    0
3    1
4    0
Name: paint, dtype: int32

# 48 Column Name : upholstery_colour

In [ ]:
df[' upholstery_colour '].unique()

array(['\nupholstery, Black', nan, '\nupholstery, Grey',
       '\nupholstery, Brown', '\nupholstery, Other',
       '\nupholstery, Beige', '\nupholstery, Red', '\nupholstery, Yellow',
       '\nupholstery, Blue', '\nupholstery, White', '\nupholstery, Green',
       '\nupholstery, Orange'], dtype=object)

In [54]:
df.rename(columns={' upholstery_colour ':'upholstery_colour'},inplace = True)
df["upholstery_colour"]=df["upholstery_colour"].str.replace('\nupholstery,','')
df["upholstery_colour"].isna().sum()

21886

# 49 Column Name : upholstery

In [ ]:
df[" upholstery "].unique()

array(['\n8, Cloth', nan, '\n8, Part leather', '\n8, Full leather',
       '\n8, alcantara', '\n8, Other', '\n8, Velour'], dtype=object)

In [55]:
df.rename(columns={' upholstery ':'upholstery'},inplace = True)
df["upholstery"]=df["upholstery"].str.replace('\n8,','')
df["upholstery"].isna().sum()

10683