In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")
#df

# Seller Column

# Column Name = Make

In [4]:
df["make"]

0         \n,Audi ,\n
1         \n,Audi ,\n
2         \n,Audi ,\n
3         \n,Audi ,\n
4         \n,Audi ,\n
             ...
62761    \n,Volvo ,\n
62762    \n,Volvo ,\n
62763    \n,Volvo ,\n
62764    \n,Volvo ,\n
62765    \n,Volvo ,\n
Name: make, Length: 62766, dtype: object

In [5]:
df["make"]=df["make"].str.strip(',\n')
df["make"]

0         Audi
1         Audi
2         Audi
3         Audi
4         Audi
          ...
62761    Volvo
62762    Volvo
62763    Volvo
62764    Volvo
62765    Volvo
Name: make, Length: 62766, dtype: object

# Column Name  = model

In [6]:
df["model"]

0         \n,A3,\n
1         \n,A3,\n
2         \n,A1,\n
3         \n,A1,\n
4         \n,A3,\n
           ...
62761    \n,S60,\n
62762    \n,S60,\n
62763    \n,S60,\n
62764    \n,S40,\n
62765    \n,S60,\n
Name: model, Length: 62766, dtype: object

In [7]:
df["model"]=df["model"].str.strip(',\n')
df["model"]

0         A3
1         A3
2         A1
3         A1
4         A3
        ...
62761    S60
62762    S60
62763    S60
62764    S40
62765    S60
Name: model, Length: 62766, dtype: object

# Column Name = seats

In [ ]:
df["seats"]

In [11]:
df["seats"]=df["seats"].str.strip(',\n')

In [12]:
df["seats"].replace("None", "0", inplace = True)

In [13]:
df["seats"].unique()

array(['5', '4', '0', '2', '6', '7', '3', '14', '9', '8', '1'],
      dtype=object)