In [2]:
import pandas as pd
import re
import datetime

In [3]:
df = pd.read_csv("data.csv")
#df

In [5]:
df.describe()

         Unnamed: 0  production_date  last_service  \r\nmanufacturer_color
count  62766.000000      6556.000000           0.0                     0.0
mean   35563.827709      2014.969951           NaN                     NaN
std    20562.958458         5.392130           NaN                     NaN
min        0.000000      1997.000000           NaN                     NaN
25%    17718.250000      2011.000000           NaN                     NaN
50%    35595.500000      2016.000000           NaN                     NaN
75%    53391.750000      2020.000000           NaN                     NaN
max    71103.000000      2022.000000           NaN                     NaN

# column name: location

In [4]:
df['location']=df['location'].apply(lambda x: re.sub(r"\\", "", x))# bir satirda '\\\\\\' ifadesi var onu kaldirdik
df['location'] = df['location'].apply(lambda x: str(x).upper()) # Tum harfleri buyuk harf yaptik
df['location'].value_counts()

location
ROTTERDAM, NL              1553
APELDOORN, NL              1142
AMSTERDAM, NL              1072
TILBURG, NL                 946
EINDHOVEN, NL               719
                           ...
EINDHIVEN, NL                 1
OOSTERHESSELEN, NL            1
FERWERD, NL                   1
WELL, NL                      1
UTRECHTSE HEUVELRUG, NL       1
Name: count, Length: 1523, dtype: int64

# Column Name: Make

In [515]:
df["make"]

0         \n,Audi ,\n
1         \n,Audi ,\n
2         \n,Audi ,\n
3         \n,Audi ,\n
4         \n,Audi ,\n
             ...
62761    \n,Volvo ,\n
62762    \n,Volvo ,\n
62763    \n,Volvo ,\n
62764    \n,Volvo ,\n
62765    \n,Volvo ,\n
Name: make, Length: 62766, dtype: object

In [516]:
df["make"]=df["make"].str.strip(',\n\r')
df["make"].value_counts()

make
BMW               6942
Volkswagen        6436
Mercedes-Benz     5860
Audi              5675
Volvo             4734
Renault           4255
Ford              4036
Peugeot           3492
Toyota            2783
Skoda             2588
Kia               2502
Opel              2342
Hyundai           2271
Mazda             2161
Citroen           2146
Fiat              1923
Honda              948
Dacia              829
Chevrolet          427
Tesla              416
Name: count, dtype: int64

# Column Name: model

In [517]:
df["model"]

0         \n,A3,\n
1         \n,A3,\n
2         \n,A1,\n
3         \n,A1,\n
4         \n,A3,\n
           ...
62761    \n,S60,\n
62762    \n,S60,\n
62763    \n,S60,\n
62764    \n,S40,\n
62765    \n,S60,\n
Name: model, Length: 62766, dtype: object

In [518]:
df["model"]=df["model"].str.strip(',\n\r')
df["model"].value_counts()

model
A3                  1171
Megane               932
Golf                 921
A4                   843
Focus                836
                    ...
MX-3                   1
Z3 M                   1
SLK 300                1
Fox                    1
Active Hybrid X6       1
Name: count, Length: 754, dtype: int64

# column name: short_description

In [519]:
df['short_description']= df['short_description'].str.strip("\n,")
df['short_description'].value_counts()

short_description
1.4 TSI Highline                                      58
i                                                     51
i High Executive                                      45
i Executive                                           41
High Executive                                        36
                                                      ..
109 CDI | XL | Navigatie | Dubbele schuifdeur | De     1
110 CDI kort / rijklaar € 9450 ex btw / lease vana     1
210 2.2 CDI 366 HD L2 H2                               1
113 CDI 320 Lang Standaard / Airco / 3 Zits / Trek     1
2.4 Airco, Cruise Control, Stuurbekrachtiging          1
Name: count, Length: 54363, dtype: int64

# Column name: price

In [577]:
df['price'] = df['price'].apply(lambda x: '€ ' + re.sub(r'[^\d.,]+', '', x).replace(',', '.').replace('.', '', 1).rstrip('.'))
df['price'] = df['price'].str.replace('€', '')
pd.to_numeric(df['price'], errors='coerce').value_counts()
# birim isaretleri kalkarsa rahatlikla mean median kullanabiliriz.

price
9950.0     529
8950.0     455
6950.0     435
5950.0     426
14950.0    415
          ...
28600.0      1
14599.0      1
28574.0      1
16244.0      1
9100.0       1
Name: count, Length: 8178, dtype: int64

# Column Name : mileage

In [521]:
mileage_1 = []
for i in df['mileage']:
    result = re.search(r'\d{1,3}(?:,\d{3})*', i)
    if result:
        mileage_1.append(result.group(0))
    else:
        mileage_1.append(None)

mileage_son = pd.DataFrame(mileage_1,columns=["mileage"])

df["mileage"] = mileage_son["mileage"]

In [579]:
df.rename(columns = {'mileage':'mileage(km)'}, inplace = True)  # in place of every line, we write 'km' to column name as unit 
df["mileage(km)"].value_counts()

mileage(km)
10         1371
1          1032
5           728
15          678
12          154
           ...
133,032       1
171,549       1
118,479       1
138,065       1
404,758       1
Name: count, Length: 45615, dtype: int64

# colum name : gearbox  #Gearbox sütunu ile karşılaştırıldı

In [590]:
df['gearbox'] = df['gearbox'].str.replace(r'[\d,]+', '', regex=True).str.strip()
df['gearbox'].value_counts()

# buyuk harfle yazilan daha iyi bir sutun

gearbox
Automatic           36633
Manual              25430
Semi-automatic        611
['\n' None '\n']       85
/                       7
Name: count, dtype: int64

# Gearbox sütunu ile karşılaştırıldı

In [591]:

df['Gearbox'] = df['Gearbox'].str.strip("\n,")
df['gearbox'] = df['gearbox'].fillna("None")
df.loc[(df['gearbox'] != 'None'), ['gearbox', 'Gearbox']]

         gearbox    Gearbox
0      Automatic  Automatic
1      Automatic  Automatic
2      Automatic  Automatic
3      Automatic  Automatic
4      Automatic  Automatic
...          ...        ...
62761     Manual     Manual
62762     Manual     Manual
62763     Manual     Manual
62764     Manual     Manual
62765     Manual     Manual

[62766 rows x 2 columns]

# colum name : registration

In [592]:
df['registration'].value_counts()

registration
01/2021    2883
01/2022    1284
12/2016     719
03/2021     719
12/2020     636
           ...
05/1997       1
02/1981       1
05/1995       1
07/2028       1
10/1996       1
Name: count, Length: 302, dtype: int64

# Column name : fuel_type  #Fuel_type sütunu ile karşılaşırıldı

In [597]:
df['fuel_type'] = df['fuel_type'].str.strip("\n\r,")
df['Fuel_type'] = df['Fuel_type'].str.strip("\n\r,")
df['fuel_type'] = df['fuel_type'].fillna("None")
df.loc[(df['fuel_type'] != 'None'), ['fuel_type', 'Fuel_type']]
df['fuel_type'].value_counts() # Icinde gearbox ile lgili bilgiler de var. Kayit ederken kaydirma yapilmis olabilir
# fuel_type i secmek digerini silmek mantkli olabilir

fuel_type
Gasoline             36942
Diesel               11754
Electric/Gasoline     8179
Electric              4906
LPG                    547
Electric/Diesel        254
CNG                     98
Hydrogen                62
Ethanol                  9
Others                   7
Automatic                5
Manual                   3
Name: count, dtype: int64

# Column name : power     #Power sütunu ile karşılaştırıldı

In [600]:
df['power'] = df['power'].str.strip("\n\r,")
df['Power'] = df['Power'].str.strip("\n\r,")
df['power'] = df['power'].fillna("None")
df.loc[(df['power'] != 'None'), ['power', 'Power']]
# Integere cevirmek icin birimleri kolona alabiliriz. hp zaten kW ye bagli bi deger oldugu icin o kismi rahatlikla silebiliriz
df['Power'].value_counts() # Buyuk harfle olani almak daha mantikl olabilir
df['Power'] = df['Power'].str.extract(r'(\d+)')
df['Power'] # sutun ismini tum analizleri yaptiktan sonra degstiririz.

0        110
1         92
2         92
3         92
4        110
        ...
62761    125
62762    103
62763    132
62764    103
62765    104
Name: Power, Length: 62766, dtype: object

# Column Name : seller

In [601]:
df['seller'] = df['seller'].str.lstrip("[', [' \s\S\t n ")
df['seller'] = df['seller'].str.rstrip("[', [] ' \s\S\t n")  


#seller has three not related unique values(electric, diesel , Gasoline) 
#bunlar diger sutunlara ait olabilir
df["seller"].replace("Diesel", None, inplace = True) 
df["seller"].replace("Electric", None, inplace = True) 
df["seller"].replace("Gasoline", None, inplace = True) 
df["seller"].unique()

seller
Dealer            57428
Private seller     5330
Name: count, dtype: int64

# Column name: body_type

In [602]:
df['body_type'] = df['body_type'].str.replace(',', '').str.strip()
df['body_type'].value_counts() # 948 none deger

body_type
Off-Road/Pick-up    17348
Compact             13185
Station wagon       11318
Van                  6243
Sedan                5341
Convertible          3645
Transporter          2249
Coupe                1923
None                  948
Other                 562
Panel van               2
Car transport           1
Flatbed van             1
Name: count, dtype: int64

# Column name: type

In [603]:
df['type'] = df['type'].str.replace(',', '').str.strip()
df['type'].value_counts()# 948 none values

type
Used              55523
New                3413
Demonstration      1889
Pre-registered      993
None                948
Name: count, dtype: int64

# Column name: drivetrain

In [604]:
df['drivetrain'] = df['drivetrain'].str.replace(',', '').str.strip()
df['drivetrain'].value_counts() # cekis demek , 14594 none var

drivetrain
Front    33522
None     14594
4WD       7363
Rear      7287
Name: count, dtype: int64

# Column Name: seats

In [532]:
df["seats"]

0        \n5
1        \n5
2        \n5
3        \n4
4        \n5
        ...
62761    \n5
62762    \n5
62763    \n5
62764    \n5
62765    \n5
Name: seats, Length: 62766, dtype: object

In [533]:
df["seats"]=df["seats"].str.strip(',\n')

In [534]:
df["seats"].replace("None", "0", inplace = True) #None values may stay as None. There are no car without seat

In [605]:
df["seats"]=df["seats"].astype(int)

df["seats"].value_counts()

seats
5     46671
4      6057
0      4925
2      1995
7      1846
3       899
6       257
8        57
9        56
1         2
14        1
Name: count, dtype: int64

# Column Name: doors

In [607]:
df["doors"].unique()

array([3, 5, 4, 0, 2, 6, 1])

In [609]:

df["doors"]=df["doors"].str.strip(',\n')
df["doors"].replace("None", "0", inplace = True) #None values may stay as None. There are no car without door
df["doors"]=df["doors"].astype(int)
df["doors"].value_counts()

doors
5    45496
4     8413
2     5286
3     2329
0     1161
6       79
1        2
Name: count, dtype: int64

# Column Name: country_version

In [610]:
df['country_version'] = df['country_version'].str.split(',').str[-1].str.strip()
df['country_version'].value_counts()
# 54824 none values var

country_version
None                    54824
Netherlands              6835
Germany                   772
Belgium                   106
Sweden                     50
Denmark                    36
France                     21
Czechia                    19
Spain                      16
Switzerland                14
Italy                      13
United States              13
Poland                     12
Austria                     9
Luxembourg                  6
Slovenia                    5
United Kingdom              2
Hungary                     2
Japan                       2
Canada                      2
Romania                     1
Slovakia                    1
Estonia                     1
Namibia                     1
Lithuania                   1
Latvia                      1
United Arab Emirates        1
Name: count, dtype: int64

# Column name : offer_number #formatını mentöre soralım

In [611]:
df["offer_number"]= df["offer_number"].str.strip(',\n')
df["offer_number"].value_counts()

offer_number
None        9928
NIEUW         53
XX            28
.             17
1776          13
            ...
#38416         1
#38787         1
#38418         1
#37783         1
26-HN-LS       1
Name: count, Length: 50143, dtype: int64

# Column name : warranty

In [540]:
df['warranty'] = df['warranty'].str.replace(',', '').str.strip()
df['warranty']

0        6 months
1            None
2        6 months
3        6 months
4        6 months
           ...
62761        None
62762        None
62763        None
62764        None
62765        None
Name: warranty, Length: 62766, dtype: object

# Column name : Mileage    #Data içinde 2 adet Mileage sütunu mevcut ve bu sütunda bilgi olmadığından drop yapılacak

In [541]:
df['Mileage'].unique()

array(["[['\\n'], ['']]", "[['\\n'], ['None']]"], dtype=object)

# Column name: first_registration

In [542]:
df['first_registration'].head()

0    08/2003
1    10/2013
2    06/2015
3    10/2015
4    10/2017
Name: first_registration, dtype: object

# Column Name : production_date  ve registration değerleri birbiri ile uyumlu

In [543]:
# df['production_date'] = pd.to_datetime(df['production_date'], format='%Y')

#Producton_date ve registration arasinda bag var. Yillar ayni. Burdan doldurabiliriz
df['production_date'] = df['production_date'].fillna("None")
df.loc[(df['production_date'] != 'None'), ['production_date', 'registration']]

      production_date registration
2              2015.0      06/2015
7              2011.0      07/2011
8              2012.0      08/2012
14             2012.0      05/2012
26             2013.0      07/2013
...               ...          ...
62696          2007.0      03/2007
62708          2010.0      09/2010
62714          2007.0      07/2007
62719          2005.0      02/2005
62728          2010.0      12/2010

[6556 rows x 2 columns]

# Column Name : general_inspection #bu veride ne yapılacak

In [544]:
df["general_inspection"].value_counts()

general_inspection
New        15532
06/2022     2169
03/2022     2025
07/2022     1936
05/2022     1930
           ...
11/2014        1
09/2017        1
08/2018        1
06/2019        1
12/2019        1
Name: count, Length: 93, dtype: int64

# Column Name : last_service               #column içerisinde sadece nan değeri var

In [545]:
df['last_service'].unique()

array([nan])

# Column Name: full_service_history

In [546]:
df['full_service_history'] = df['full_service_history'].str.replace(',', '').str.strip()
df['full_service_history']

0         Yes
1         Yes
2         Yes
3         Yes
4         Yes
         ...
62761     Yes
62762     Yes
62763     Yes
62764    None
62765    None
Name: full_service_history, Length: 62766, dtype: object

# Column Name : non_smoker_vehicle

In [547]:
df['non_smoker_vehicle'] = df['non_smoker_vehicle'].str.replace(',', '').str.strip()
df['non_smoker_vehicle']

0        None
1        None
2         Yes
3        None
4        None
         ...
62761    None
62762    None
62763    None
62764    None
62765    None
Name: non_smoker_vehicle, Length: 62766, dtype: object

# Column Name : previous_owner

In [548]:
df['previous_owner'] = df['previous_owner'].str.lstrip("[' \s\S\t n ',]")
df['previous_owner'] = df['previous_owner'].str.rstrip("['\s,]")
df['previous_owner'].unique()

array(['None', '3', '2', '1', '5', '7', '9', '4', '6', '8', '12', '10'],
      dtype=object)

# Column Name : last_timing_belt_change

In [549]:
df['last_timing_belt_change'] = df['last_timing_belt_change'].str.lstrip(" [',] '\a \s\S\t\r n ' ")
df['last_timing_belt_change'] = df['last_timing_belt_change'].str.rstrip(" [',] '\a \s\S\t\r n ' ")

df['last_timing_belt_change'].unique()

array(['None', '07/2021', '03/2021', '05/2019', '06/2021', '10/2019',
       '02/2018', '06/2020', '06/2017', '03/2019', '08/2019', '04/2019',
       '04/2021', '10/2020', '11/2021', '07/2018', '12/2018', '11/2019',
       '04/2016', '05/2021', '08/2018', '10/2021', '01/2021', '07/2017',
       '07/2019', '04/2020', '12/2021', '09/2017', '09/2021', '01/2020',
       '09/2020', '03/2020', '08/2021', '05/2016', '01/2015', '01/2017',
       '04/2018', '01/2016', '09/2015', '12/2019', '07/2020', '12/2020',
       '08/2020', '05/2020', '07/2011', '02/2020', '10/2017', '06/2019',
       '09/2019', '10/2016', '11/2018', '10/2018', '08/2017', '01/2019',
       '11/2015', '02/2021', '02/2019', '11/2020', '05/2017', '05/2018',
       '01/2018', '03/2018', '06/2013', '11/2000', '01/1900', '09/2018',
       '02/2017', '09/2016', '12/2017', '06/2018', '05/2015', '04/2014',
       '04/2017', '11/2017', '06/2016', '12/2015', '10/2015', '02/2015',
       '02/2016', '06/2014', '04/2015', '08/2016'], dtype=object)

# Column Name : Power

In [550]:
df["power"].value_counts()

power
[None, '']         5333
110 kW (150 hp)    3677
88 kW (120 hp)     2518
100 kW (136 hp)    2190
90 kW (122 hp)     2174
                   ...
378 kW (514 hp)       1
282 kW (383 hp)       1
470 kW (639 hp)       1
451 kW (613 hp)       1
10 kW (14 hp)         1
Name: count, Length: 361, dtype: int64

# Column Name: gearbox   aynı sütundan var

# Column Name : engine_size

In [551]:
# kolonun ici düzenlendi, none ifade = 0 a ayarlandi.
# ancak cc biriminden dolayi int cevrilmiyor, bu yüzden de mean() vs islemlr de yapilamiyor
#??????

In [552]:
df["engine_size"]= df["engine_size"].str.strip(',\n,')
df["engine_size"]= df["engine_size"].replace("None", "0")
df["engine_size"]= df["engine_size"].str.replace("cc", "")

df["engine_size"].head()

0    1,984
1    1,395
2    1,395
3    1,395
4    1,495
Name: engine_size, dtype: object

# Column Name : gears

In [553]:
df["gears"]=df["gears"].str.strip(',\n,')
df["gears"].unique()

array(['None', '7', '6', '8', '5', '1', '9', '4', '2', '3'], dtype=object)

bi iki koda gerek var mi pek emin degilim,
Data missing de konusabiliriz!!!
df["gears"].replace("None", "0", inplace = True)
df["gears"]=df["gears"].astype(int)

# Column Name: cylinders

In [554]:
df["cylinders"]=df["cylinders"].str.strip(',\n,')
df["cylinders"].unique()
#df["cylinders"]

array(['4', '3', '6', 'None', '5', '8', '10', '12', '1', '2', '7'],
      dtype=object)

# Column Name : empty_weight

In [555]:
df["empty_weight"]=df["empty_weight"].str.strip('[\n,')
df["empty_weight"]=df["empty_weight"].str.replace(' kg', '')
df["empty_weight"].head()

0    1,280
1    1,200
2     None
3    1,105
4    1,215
Name: empty_weight, dtype: object

# Column Name: Fuel_type

In [556]:
df["Fuel_type"]=df["Fuel_type"].str.strip('[\n,')
df["Fuel_type"].head(15)

0     Super 95
1     Gasoline
2     Gasoline
3     Gasoline
4     Super 95
5     Super 95
6     Gasoline
7     Gasoline
8     Gasoline
9     Super 95
10    Gasoline
11    Super 95
12    Gasoline
13    Super 95
14    Gasoline
Name: Fuel_type, dtype: object

# Column name : fuel_consumption

In [557]:
df['fuel_consumption'] = df['fuel_consumption'].str.lstrip(" [', \s\S\t\r\n,n ' ")
df['fuel_consumption'] = df['fuel_consumption'].str.rstrip("[', '] \s\S\t\r\n,\\n  ")
df['fuel_consumption'] = df['fuel_consumption'].str.replace("'","")
df['fuel_consumption']

0                                                     None
1                                     4.9 l/100 km (comb.)
2        0 l/100 km (comb.), 0 l/100 km (city), 0 l/100...
3        4.8 l/100 km (comb.), 5.9 l/100 km (city), 4.2...
4        5 l/100 km (comb.), 6.2 l/100 km (city), 4.3 l...
                               ...
62761                                                 None
62762                                                 None
62763    9.1 l/100 km (comb.), 12.6 l/100 km (city), 7 ...
62764                                                 None
62765    8.4 l/100 km (comb.), 11.6 l/100 km (city), 6....
Name: fuel_consumption, Length: 62766, dtype: object

# Column Name: co2_emissions

In [558]:
df['co2_emissions'] = df['co2_emissions'].str.strip(",\n")
df["co2_emissions"] = df["co2_emissions"].str.rstrip(" [',] \s\S\t\r\n n' ")
df["co2_emissions"] = df["co2_emissions"].str.lstrip(" [', \s\S\t\r\n ' ")
df['co2_emissions']

0
1                    None
2                    None
3        111 g/km (comb.)
4        113 g/km (comb.)
               ...
62761
62762
62763    215 g/km (comb.)
62764                None
62765    207 g/km (comb.)
Name: co2_emissions, Length: 62766, dtype: object

# Column Name : emission_class

In [559]:
df['emission_class'] = df['emission_class'].str.strip(",\n")
df['emission_class']

0        Euro 4
1          None
2          None
3        Euro 6
4        Euro 6
          ...
62761      None
62762      None
62763    Euro 3
62764      None
62765    Euro 3
Name: emission_class, Length: 62766, dtype: object

# Column Name: emissions_sticker

In [560]:
df["emissions_sticker"].unique()

array(['\n,None,\n', '\n,4 (Green),\n', '\n,3 (Yellow),\n',
       '\n,1 (No sticker),\n', "['\\n', [' ', ' ', ' '], '\\n']",
       '\n,2 (Red),\n'], dtype=object)

In [561]:
df["emissions_sticker"] = df["emissions_sticker"].str.rstrip(" [',] \s\S\t\r\n ' ")
df["emissions_sticker"] = df["emissions_sticker"].str.lstrip(" [',] \s\S\t\r\n ' ")
df["emissions_sticker"] = df["emissions_sticker"].str.strip(" ")
df["emissions_sticker"] = df["emissions_sticker"].str.replace("\\n","")
df["emissions_sticker"].unique()

array(['None', '4 (Green)', '3 (Yellow)', '1 (No sticker)',
       "n', [' ', ' ', ' '], '", '2 (Red)'], dtype=object)

# Column Name : Comfort & Convenience

In [562]:
df.rename({"\nComfort & Convenience\n":"comfort_convenience"}, inplace = True, axis = 1) # sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["comfort_convenience"] = df["comfort_convenience"].str.rstrip(" [', \s\S\t\r n ' ")
df["comfort_convenience"] = df["comfort_convenience"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["comfort_convenience"] = df["comfort_convenience"].str.replace("'","")
df["comfort_convenience"]

0        Air conditioning, Armrest, Automatic climate c...
1        Air conditioning, Automatic climate control, E...
2        Air conditioning, Armrest, Automatic climate c...
3        Air conditioning, Armrest, Automatic climate c...
4        Air conditioning, Armrest, Electrical side mir...
                               ...
62761    Air conditioning, Armrest, Automatic climate c...
62762    Air conditioning, Automatic climate control, C...
62763    Air conditioning, Armrest, Automatic climate c...
62764    Air conditioning, Armrest, Automatic climate c...
62765    Air conditioning, Armrest, Automatic climate c...
Name: comfort_convenience, Length: 62766, dtype: object

# Column Name : Entertaiment & Media

In [563]:
df['\nEntertainment & Media\n'].unique()

array(["[['CD player', 'Radio']]",
       "[['Bluetooth', 'CD player', 'On-board computer', 'USB']]",
       "[['CD player', 'MP3', 'On-board computer', 'Radio']]", ...,
       "[['Apple CarPlay', 'CD player', 'Digital cockpit', 'On-board computer', 'Radio']]",
       "[['Apple CarPlay', 'CD player', 'On-board computer', 'Radio', 'Sound system']]",
       "[['Android Auto', 'Apple CarPlay', 'Bluetooth', 'CD player', 'Digital cockpit', 'Digital radio', 'Hands-free equipment', 'Induction charging for smartphones', 'Integrated music streaming', 'On-board computer', 'Radio', 'Sound system', 'USB']]"],
      dtype=object)

In [564]:
df.rename({"\nEntertainment & Media\n":"entertainment_media"},inplace = True, axis = 1)# sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["entertainment_media"] = df["entertainment_media"].str.rstrip(" [',] \s\S\t\r n ' ")
df["entertainment_media"] = df["entertainment_media"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["entertainment_media"] =  df["entertainment_media"].str.replace("'","")
df["entertainment_media"].unique()

array(['CD player, Radio', 'Bluetooth, CD player, On-board computer, USB',
       'CD player, MP3, On-board computer, Radio', ...,
       'Apple CarPlay, CD player, Digital cockpit, On-board computer, Radio',
       'Apple CarPlay, CD player, On-board computer, Radio, Sound system',
       'Android Auto, Apple CarPlay, Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, On-board computer, Radio, Sound system, USB'],
      dtype=object)

# Column Name : Safety & Security

In [565]:
df.rename({"\nSafety & Security\n":"safety_security"},inplace = True, axis = 1)# sütun isminde \n değerleri olduğu için kalıcı oalrak sütun ismi değiştirildi.
df["safety_security"] = df["safety_security"].str.rstrip(" [', \s\S\t\r n ' ")
df["safety_security"] = df["safety_security"].str.lstrip(" [', '\a \s\S\t\r n ' ")
df["safety_security"] =  df["safety_security"].str.replace("'","")
df["safety_security"]

0        ABS, Alarm system, Central door lock, Central ...
1        Alarm system, Central door lock, Central door ...
2        ABS, Central door lock with remote control, Dr...
3        ABS, Alarm system, Bi-Xenon headlights, Centra...
4        ABS, Alarm system, Bi-Xenon headlights, Centra...
                               ...
62761    ABS, Central door lock, Central door lock with...
62762    ABS, Central door lock, Central door lock with...
62763    ABS, Central door lock, Central door lock with...
62764    ABS, Central door lock with remote control, Dr...
62765    ABS, Alarm system, Central door lock, Central ...
Name: safety_security, Length: 62766, dtype: object

# Column Name : extras

In [566]:
df["extras"] = df["extras"].str.rstrip(" [',] \s\S\t\r n ' ")
df["extras"] = df["extras"].str.lstrip(" [',] '\a \s\S\t\r n ' ")
df["extras"] =  df["extras"].str.replace("'","")
df["extras"]

0                                              Alloy wheel
1                                       Alloy wheels (16")
2                                       Alloy wheels (15")
3        Alloy wheels (17"), Shift paddles, Sport seats...
4         Alloy wheels (17"), Sport seats, Sport suspensio
                               ...
62761                                   Alloy wheels (15")
62762                                   Alloy wheels (15")
62763    Alloy wheels (17"), Automatically dimming inte...
62764    Alloy wheels (16"), Automatically dimming inte...
62765                                          Alloy wheel
Name: extras, Length: 62766, dtype: object

# Column Name: manifacturer_colour    içeriği tamamen nan değeriyle dolu

In [567]:
df['\nmanufacturer_color'].unique()

array([nan])

# Column Name: colour

In [568]:
df.rename(columns = {'\ncolour':'colour'}, inplace = True)
df["colour"].unique()

array(['\n4, Grey', '\n4, White', '\n4, Black', '\n4, Red', '\n4, Silver',
       '\n4, Brown', '\n4, Blue', '\n4, Violet', nan, '\n4, Beige',
       '\n4, Yellow', '\n4, Green', '\n4, Orange', '\n4, Bronze',
       '\n4, Gold'], dtype=object)

In [569]:
df["colour"]=df["colour"].str.strip(',\n4,')
df["colour"].head()
#1048 none var

0      Grey
1     White
2      Grey
3     Black
4      Grey
Name: colour, dtype: object

# Column Name : paint   (arabanın boyanıp boyanmadığını ifade ediyor. Renk belirtilenler boyanmış belirtilmeyenler boyanmamış. Bundan dolayı rengin yanındaki paint ifadesini gözardı edebiliriz.)

In [570]:
df.rename(columns = {'\npaint':'paint'}, inplace = True)
df["paint"].unique()
df['paint']

0        \npaint, Metallic
1                      NaN
2        \npaint, Metallic
3                      NaN
4        \npaint, Metallic
               ...
62761                  NaN
62762                  NaN
62763    \npaint, Metallic
62764    \npaint, Metallic
62765    \npaint, Metallic
Name: paint, Length: 62766, dtype: object

In [571]:
df["paint"]=df["paint"].str.replace('\npaint,','')
df['paint']

0         Metallic
1              NaN
2         Metallic
3              NaN
4         Metallic
           ...
62761          NaN
62762          NaN
62763     Metallic
62764     Metallic
62765     Metallic
Name: paint, Length: 62766, dtype: object

# Column Name : upholstery_colour

In [572]:
df[' upholstery_colour '].unique()

array(['\nupholstery, Black', nan, '\nupholstery, Grey',
       '\nupholstery, Brown', '\nupholstery, Other',
       '\nupholstery, Beige', '\nupholstery, Red', '\nupholstery, Yellow',
       '\nupholstery, Blue', '\nupholstery, White', '\nupholstery, Green',
       '\nupholstery, Orange'], dtype=object)

In [573]:
df.rename(columns={' upholstery_colour ':'upholstery_colour'},inplace = True)
df["upholstery_colour"]=df["upholstery_colour"].str.replace('\nupholstery,','')
df["upholstery_colour"].unique()

array([' Black', nan, ' Grey', ' Brown', ' Other', ' Beige', ' Red',
       ' Yellow', ' Blue', ' White', ' Green', ' Orange'], dtype=object)

# Column Name : upholstery

In [574]:
df[" upholstery "].unique()

array(['\n8, Cloth', nan, '\n8, Part leather', '\n8, Full leather',
       '\n8, alcantara', '\n8, Other', '\n8, Velour'], dtype=object)

In [575]:
df.rename(columns={' upholstery ':'upholstery'},inplace = True)
df["upholstery"]=df["upholstery"].str.replace('\n8,','')
df["upholstery"].unique()

array([' Cloth', nan, ' Part leather', ' Full leather', ' alcantara',
       ' Other', ' Velour'], dtype=object)